.list-search-area { width: 50%; float: right; position: relative; top: -7px; text-align: right; margin-right: 12px; }
.list-search-area input { width: 50%; display: inline-block; margin-left: 5px; font-size: 12px; font-weight: normal; }

.list-articles { max-height: 742px; width: 100%; overflow: auto; }
.list-articles .list-header { font-weight: bold; padding-bottom: 10px; }

.list-articles .single-row { margin-bottom: 10px; }
.list-articles .single-row input[type="number"] { width: 80%; text-align: center; }
.list-articles .single-row .list-article-handle { height: 34px; width: 100%; border-bottom: 1px solid #d1d1d1; border-left: 1px solid #e3e3e3; box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.15); background: #ebebeb url("../images/ico/move.png") no-repeat 2% center; padding: 9px 5%; padding-right: 8px; cursor: move; border-radius: 6px; font-weight: bold; color: #797c87; font-size: 12px; }
.list-articles .single-row .list-article-handle span { float: right; font-weight: normal; font-size: 12px; }
.list-articles .single-row .list-article-handle.highlight { background-color: #ffc600; color: black; }
.list-articles .single-row .list-article-edit { position: absolute; right: 13%; top: 50%; font-size: 16px; transform: translate(0%, -50%); cursor: pointer; }

.list-articles .single-row .remove-element { font-size: 14px; margin-right: 2px; text-align: center; padding-top: 5px; cursor: pointer; font-weight: bold; }
.list-articles .single-row .delete-article { cursor: pointer; }


