.drag-upload { height: 200px; width: 100%; background: #eaeaea; position: relative; padding: 10px; border: 1px solid #b7b7b7; border-radius: 5px; display: flex; justify-content: center; align-items: center; }
.drag-upload:after { content: " "; display: block; height: 100%; width: 100%; position: absolute; z-index: 1; left: 0px; top: 0px; }
.drag-upload p { text-align: center; font-size: 12px; }
.drag-upload img { display: block; margin: 0 auto; margin-top: 7px; }

#imagesAddedBox { margin-top: 15px; }