
section.panel {
    min-height: 1px;
}
.file-index .panel-body{
    padding: 0;
}  

.file-index .nav {
    border-right: 1px solid #d7d7db;
}
.file-index .nav li{
    border-bottom: 1px solid #d7d7db;
}
.file-index .nav li:last-child{
    border-bottom: 0;
}
.summary{
    position: relative;
    display: block;
    padding: 10px 15px;
     border-bottom: 1px solid #d7d7db;
}
.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;
}
.file{
    margin-top: 15px;
}