.breadcrumb { margin-left: 75px; }
.breadcrumb:before { content:"Jesteś w: "; display: block; position: absolute; left: 14px; font-weight: bold; }

.breadcrumb a:hover { text-decoration: underline; }
.breadcrumb > .active { font-weight: bold; }

.text-right { padding-top: 7px; }

.search-row { margin-bottom: 15px; }
.quick-action { margin-bottom: 15px; }

.folder-element { min-height: 160px; text-align: center; cursor: pointer; border: 1px solid transparent; padding: 10px 7px; }
.folder-element p { display: block;  margin: 0 auto; display: block; width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.folder-element img { display: block; margin: 0 auto; max-width: 50%; margin-bottom: 3px; }
.folder-element.open { background: #fff7e5; border: 1px solid #ffde98; }
.folder-element .single-tools { display: none; margin-top: 3px; }
.folder-element .new-category-name { border: none; width: 100%; text-align: center; }
.folder-element:hover { background: #fff7e5; border: 1px solid #ffde98; }
.folder-element:not(.new-folder):hover .single-tools { display: block; }

.folder-back { cursor: pointer; max-width: 45%; }

.folders-desctop { max-height: 595px; overflow: auto; padding: 0px 15px; }