#atende-tree>div {
    cursor: pointer;
    margin: 3px 0px;
    padding-left: 2px;
}

#atende-tree>div:hover {
    background: #efefef;
}

.img-thumbnail{
    margin-bottom: 15px;
}
.list-view{
    position: relative;
}
#items .summary{
       margin-bottom: 10px;
    text-align: right;
    top: -66px;
    position: absolute;
    width: 300px;
    right: 0;
}
#files .summary{
        margin-bottom: 10px;
}
.modal .img-thumbnail{
    cursor: pointer;
}
.modal .img-thumbnail:hover{
    border: 1px solid #9a9a9a;
}
.dropdown-menu li{
    margin-top: 5px;
    cursor: pointer;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu li:hover{
    background: #d6d6d6;
}
.slider-sort{
    margin-top: 10px;
}


.new_item-form .help-block {
    position: absolute;
    font-size: 10px;
    margin-left: 43px;
}
.new_item-form .error-block {
    position: absolute;
    font-size: 10px;
    margin-left: 43px;
    color: #d9534f;
    display: none;
}
.mainslide{
    cursor: pointer;
}
.slider-slider-update hr{

    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 4px solid #b7b7b7;

}
.edit-item-form-tab{
    border-color: #ddd;
    border-width: 0px 1px 1px 1px;
    border-radius: 0 0 5px 5px;
    border-style: solid;
    padding: 15px 0;
    position: relative;
     background-color: #2281d4;

}
.edit-item-form-tab .help-block{
   position: absolute;
    font-size: 10px;
    margin-left: 43px;
}

#multiarticleItems #items .summary, #multiarticleItems #items .empty {
    margin-bottom: 10px;
    text-align: right;
    top: -55px;
    position: absolute;
    width: 300px;
    right: 15px;
     color: #fff;
}

 #multiarticleItems #items .empty {
    top: -40px;
}
.new-item-form-multiarticle{
    margin-top: 15px;
}

.nav-tabs > li.active > a{
    color: #fff;
    background-color: #2281d4;
}
.nav-tabs > li.active > a:hover{
     color: #fff;
     background-color: #2281d4;
}
.item-form{
    position: relative;
}
.item-sort{
        position: absolute;
    left: -46px;
    width: 30px;
    
    line-height: 30px;
    text-align: center;
   
    box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.35);
    border-radius: 5px 0 0 5px;
}
.item-sort span{
    margin: 5px 0;
}
.item-sort .sort-arrow {
    cursor: pointer;
}
.item-sort .sort-arrow:hover {
    color: #337ab7;
}

.item-sort.bg-success{
    background: #5cb85c;
      color: #fff;
}
.item-sort.bg-success .badge{
    background: #fff;
    color: #5cb85c;
}

.new_item-form.affix{
        top: 0;
    width: 100%;
    background: #fff;
    z-index: 11;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.color-light{
    color: #ccc;
}

.control-label {font-weight: bold;}

.label-border{
    border: 1px solid #777;
    border-radius: 4px;
    color: #777;
    margin-top: 31px;
    cursor: pointer;
    display: inline-block;
}

.label-border:hover{
    border: 1px solid #ccc;
}
