.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    border-bottom: 1px solid #aaaaaa;
    z-index: 2;
    width: 90%;
    margin-top: 30px;
}

.d3-slider-horizontal {
    height: 1px;
    margin-left: 10px;
}  

.d3-slider-range {
  background:transparent;
  left:0px;
  right:0px;
  height: 1px;
  position: absolute;
}

.d3-slider-range-vertical {
  background:#2980b9;
  left:0px;
  right:0px;
  position: absolute;
  top:0;
}

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}      

.d3-slider-handle {
    position: absolute;
    width: 12px;
    height: 13px;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 3;
    cursor: pointer;
}

.d3-slider-horizontal .d3-slider-handle {
    top: -6px;
    margin-left: -12px;
}

#handle-one {
    background-image: url(../img/strzalka-skala-prawo.png);
}

#handle-two {
    background-image: url(../img/strzalka-skala-lewo.png);
    margin-left: -1px;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;   
    
    g {
        
        g:nth-child(2n+1) {
        
            text {
                transform: translateY(26px);
            }
        }
        
        g:nth-child(1) {
        
            text {
                transform: translateX(16px) translateY(26px);
            }
        }
        
        g:nth-last-child(2) {
        
            text {
                transform: translateX(-18px);
            }
        }
            
        line {
            transform: translateY(22px);
        }
    }
}

.d3-slider-axis-bottom {
    top: -25px;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 0.8em;
    font-weight: 300;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;      
}