/* 
    Created on : 2017-09-26, 15:29:54
    Author     : Krzysztof Borecki
*/

#atende-tree {
    
}

#atende-tree>div {
    cursor: pointer;
    margin: 3px 0px;
    padding-left: 2px;
}

#atende-tree>div:hover {
    background: #efefef;
}


.autosave {
    position: absolute;
    top: -25px;
    color: #d9534f;
    font-weight: bold;
    display: none;
}

.drag-upload {
    position: relative;
}

.drag-upload:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
}

.download-panel {
    min-height: 300px;
}

.download-panel .fileico {
    display: block;
    margin: 10px auto;
    margin-top: 15px;
}

.download-panel .filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 3px;
    text-align: center;
}

.download-remove {
    position: absolute;
    top: 10px;
    right: 20px;
}






