<table style="width: 500px;" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td>
<h1 style="color: #000000; border-bottom: 1px solid #000000;"><span style="font-size: 18px;"><span style=""><strong>KALENDARIUM</strong></span></span></h1>
</td>
</tr>
<tr>
<td style="text-align: justify; padding-bottom: 15px;"><span style="color: #000; "><strong style="color: #b2070d; ">Polska: Rok 1620</strong> - Pod Cecorą rozpoczęła się bitwa wojsk polskich dowodzonych przez hetmana Stanisława Ż&oacute;łkiewskiego z Turkami.</span></td>
</tr>
<tr>
<td style="text-align: justify; padding-bottom: 15px;"><span style="color: #000; "><strong style="color: #b2070d; ">Polska: Rok 1620</strong> - Pod Cecorą rozpoczęła się bitwa wojsk polskich dowodzonych przez hetmana Stanisława Ż&oacute;łkiewskiego z Turkami.</span></td>
</tr>
</tbody>
</table>