<table style="width: 500px;" border="0" cellspacing="1" cellpadding="1">
<tbody>
<tr>
<td>
<h1 style="color: #000000; border-bottom: 1px solid #000000;"><span style="font-size: 18px;"><span><strong>PRZEGLĄD PRASY</strong></span></span></h1>
</td>
</tr>
<tr>
<td style="text-align: justify; padding-bottom: 15px;"><span style="color: #000;"><strong style="color: #b2070d;">Gazeta Wyborcza - Tytuł 1</strong>, Mariusz Zawadzki, Front przeciw dżihadowi: "Coraz więcej państw deklaruje pomoc w walce z muzułmańskimi fanatykami, kt&oacute;rzy okupują znaczne tereny w Iraku i Syrii. W poniedziałek przedstawiciele tej koalicji zebrali się w Paryżu. (...) Od wczoraj nad Irakiem latają francuskie samoloty zwiadowcze, kt&oacute;re pomagają Amerykanom. (...) Znaczną kontrybucję do międzynarodowej koalicji zadeklarowała Australia, podobnie jak Francja i Wielka Brytania przerażona doniesieniami o własnych obywatelach, kt&oacute;rzy wędrują do Iraku i Syrii, żeby przyłączać się do dżihadu. (...) W akcji zbrojnej przeciwko ISIS weźmie udział osiem australijskich myśliwc&oacute;w i samolot wczesnego ostrzegania. Jeśli idzie o pozostałe kraje koalicji, to w niedzielę amerykański departament stanu informował, że Włochy, Polska, Dania, Albania i Chorwacja wysyłają sprzęt wojskowy i amunicję peszmergom i armii irackiej."</span></td>
</tr>
<tr>
<td style="text-align: justify; padding-bottom: 15px;"><span style="color: #000; "><strong style="color: #b2070d; ">Rzeczpospolita - Tytuł 2</strong>, Mariusz Zawadzki, Front przeciw dżihadowi: "Coraz więcej państw deklaruje pomoc w walce z muzułmańskimi fanatykami, kt&oacute;rzy okupują znaczne tereny w Iraku i Syrii. W poniedziałek przedstawiciele tej koalicji zebrali się w Paryżu. (...) Od wczoraj nad Irakiem latają francuskie samoloty zwiadowcze, kt&oacute;re pomagają Amerykanom. (...) Znaczną kontrybucję do międzynarodowej koalicji zadeklarowała Australia, podobnie jak Francja i Wielka Brytania przerażona doniesieniami o własnych obywatelach, kt&oacute;rzy wędrują do Iraku i Syrii, żeby przyłączać się do dżihadu. (...) W akcji zbrojnej przeciwko ISIS weźmie udział osiem australijskich myśliwc&oacute;w i samolot wczesnego ostrzegania. Jeśli idzie o pozostałe kraje koalicji, to w niedzielę amerykański departament stanu informował, że Włochy, Polska, Dania, Albania i Chorwacja wysyłają sprzęt wojskowy i amunicję peszmergom i armii irackiej."</span></td>
</tr>
<tr>
<td style="text-align: justify; padding-bottom: 15px;"><span style="color: #000; "><strong style="color: #b2070d; ">Dziennik.pl - Tytuł 3</strong>, Mariusz Zawadzki, Front przeciw dżihadowi: "Coraz więcej państw deklaruje pomoc w walce z muzułmańskimi fanatykami, kt&oacute;rzy okupują znaczne tereny w Iraku i Syrii. W poniedziałek przedstawiciele tej koalicji zebrali się w Paryżu. (...) Od wczoraj nad Irakiem latają francuskie samoloty zwiadowcze, kt&oacute;re pomagają Amerykanom. (...) Znaczną kontrybucję do międzynarodowej koalicji zadeklarowała Australia, podobnie jak Francja i Wielka Brytania przerażona doniesieniami o własnych obywatelach, kt&oacute;rzy wędrują do Iraku i Syrii, żeby przyłączać się do dżihadu. (...) W akcji zbrojnej przeciwko ISIS weźmie udział osiem australijskich myśliwc&oacute;w i samolot wczesnego ostrzegania. Jeśli idzie o pozostałe kraje koalicji, to w niedzielę amerykański departament stanu informował, że Włochy, Polska, Dania, Albania i Chorwacja wysyłają sprzęt wojskowy i amunicję peszmergom i armii irackiej."</span></td>
</tr>
</tbody>
</table>