
/*
*
* COLORS
*
*/
$primaryColor: #383838;
$secondaryColor: #eeeeee;
$thirdColor: #f0f0f0;
$fourColor: #ffffff;

/*
*
* FONTS
*
*/
$Comfortaa: 'Comfortaa', cursive;
$Poppins: 'Poppins', sans-serif;
$Montserrat: 'Montserrat', sans-serif;

$fontBig: 19px;
$fontBigger: 20px;
$fontBigResponsive: 17px;
$fontBiggerResponsive: 18px;