/*
* Info
Sass obsługuje specjalny typ selektora o nazwie placeholders. 
Symbole zastępcze wyglądają jak klasy, z wyjątkiem tego, że kropka jest zamieniana na znak %. 
Charakterystyczną cechą symboli zastępczych Sass jest to, że nie są renderowane w arkuszu stylów wyników.

W rzeczywistości mogą one zostać rozszerzone za pomocą dyrektywy @extend.

Przykład:

%message {
    padding: 0.5em;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.message-error {
    @extend %message;
    color: red;
}


*/