.image-gallery{ position: relative; width: 100%; padding: 15px 0; border-top: 1px solid #1e1e1e; border-bottom: 1px solid #1e1e1e; }
.image-gallery .images{ position: relative; width: 100%; }
.image-gallery .images:after{ content: " "; display: block; clear: both; }
.image-gallery .images .image{ display: inline-block; float: left; height: 170px; margin: 10px; }
.image-gallery .images .image img{ height: 100%; }