/* Basic */

.gallery-cropp-js .browserupgrade {
    margin: 0;
    padding: .5em 1em;
    text-align: center;
    background-color: #fcfcfc;
}

.gallery-cropp-js .btn-group > .btn {
  padding-right: 12px;
  padding-left: 12px;
}

.gallery-cropp-js .btn-group > label {
  margin-bottom: 0;
}


/* Content */
.gallery-cropp-js .img-container,
.gallery-cropp-js .img-preview {
    width: 100%;
    text-align: center;
    background-color: #202227;
}

.gallery-cropp-js .img-container {
    min-height: 200px;
    max-height: 600px;
    margin-bottom: 16px;
    max-width: 100%;
    overflow: hidden;
    background-color: #f7f7f7;
}

@media (min-width: 768px) {
    .gallery-cropp-js .img-container {
        min-height: 469px;
    }
}

.gallery-cropp-js .img-container > img {
    max-width: 100%;
}

.gallery-cropp-js .docs-preview {
    margin-right: -16px;
}

.gallery-cropp-js .img-preview {
    float: left;
    overflow: hidden;
    margin-left: 8px;
    margin-bottom: 8px;
}

.gallery-cropp-js .img-preview > img {
    max-width: 100%;
}

.gallery-cropp-js .preview-lg {
    width: 255px;
    height: 143px;
}

.gallery-cropp-js .preview-md {
    width: 128px;
    height: 72px;
}

.gallery-cropp-js .preview-sm {
    width: 72px;
    height: 40px;
}

.gallery-cropp-js .preview-xs {
    width: 40px;
    height: 24px;
    margin-right: 0;
}

.gallery-cropp-js .docs-data > .input-group {
    margin-bottom: 8px;
}

.gallery-cropp-js .docs-data > .input-group > label {
    min-width: 60px;
}

.gallery-cropp-js .docs-data > .input-group > span {
    min-width: 50px;
}

.gallery-cropp-js .docs-buttons > .btn,
.gallery-cropp-js .docs-buttons > .btn-group,
.gallery-cropp-js .docs-buttons > .form-control {
    margin-right: 4px;
    margin-bottom: 8px;
}

.gallery-cropp-js .docs-toggles > .btn,
.gallery-cropp-js .docs-toggles > .btn-group,
.gallery-cropp-js .docs-toggles > .dropdown {
    margin-bottom: 8px;
}

.gallery-cropp-js .docs-tooltip {
    display: block;
    margin: -8px -12px;
    padding: 9px 5px 10px;
    width: 40px;
    font-size: 12px;
}

@media (max-width: 500px) {
    .preview-lg{ display: none; }
}

@media (max-width: 400px) {
  .gallery-cropp-js .btn-group-crop {
        margin-right: -16px!important;
  }

  .gallery-cropp-js .btn-group-crop > .btn {
        padding-right: 8px;
        padding-left: 8px;
  }
}

.gallery-cropp-js .docs-toggles,
.gallery-cropp-js .docs-buttons{ display: inline-block; }

.gallery-cropp-js .docs-aspect-ratios,
.gallery-cropp-js .docs-view-modes {
    width: 100%;
}

.gallery-cropp-js .docs-aspect-ratios > .btn {
    width: 20%;
}

.gallery-cropp-js .docs-view-modes > .btn {
    width: 25%;
}

.gallery-cropp-js .docs-options .dropdown-menu {
    width: 100%;
}

.gallery-cropp-js .docs-options .dropdown-menu > li {
    padding: 4px 16px;
}

.gallery-cropp-js .docs-options .dropdown-menu > li:hover {
    background-color: #f7f7f7;
}

.gallery-cropp-js .docs-options .dropdown-menu > li > label {
    display: block;
    margin-bottom: 0;
    cursor: pointer;
}

.gallery-cropp-js .docs-cropped .modal-body {
    text-align: center;
}

.gallery-cropp-js .docs-cropped .modal-body > img,
.gallery-cropp-js .docs-cropped .modal-body > canvas {
    max-width: 100%;
}

.gallery-cropp-js .all-prev{ padding: 10px; background: #2c2e34; }
.gallery-cropp-js .send-form{ width: 100%; text-align: center; margin: 0; }