.images-gallery-items{ position: relative; padding: 0px; margin: 0px; }
.images-gallery-items .item{
    width: 24%; margin: 0px 0.5%; float: left; height: 250px; cursor: move; border: 1px solid #d7d7db; border-radius: 10px; overflow: hidden; position: relative; background-size: cover; background-repeat: no-repeat; background-position: center center; opacity: 0.4; 
    margin-bottom: 20px; overflow: hidden; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -ms-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s;
}
.images-gallery-items .item .name{ z-index: 3; position: absolute; bottom: -1px; left: -1px; right: -1px; padding: 5px 15px; background: rgba(0,0,0,0.75); text-align: center; color: #fff; font-size: 12px; }
.images-gallery-items .item .clearfix{ z-index: 3; position: relative; width: 100%; }
.images-gallery-items .item .clearfix .sort{ float: left; padding: 8px 12px; background: rgba(0,0,0,0.75); color: #fff; font-weight: 700; display: inline-block; border-radius: 0 0 10px 0; }
.images-gallery-items .item .clearfix .actions{ float: right; padding: 8px 12px; background: rgba(0,0,0,0.75); color: #fff; display: inline-block; border-radius: 0 0 0 10px; } 
.images-gallery-items .item .clearfix .actions a{ margin: 0 2px; }
.images-gallery-items .item div{ overflow: hidden; text-overflow: ellipsis; }

.images-gallery-items .item:hover{ opacity: 0.75; }
.images-gallery-items .item.active{ opacity: 1; }

.images-gallery-items.add .item{ cursor: pointer; }
.images-gallery-items.add .item:after{ 
    content: " "; position: absolute; right: 0; left: 0; top: 0; bottom: 0; background: url('../images/add.png') center no-repeat rgba(50, 121, 45, 0.6); 
    border-radius: 10px; z-index: 1; opacity: 0;
}

.images-gallery-items.add .item:hover{ opacity: 1; }
.images-gallery-items.add .item:hover:after{ opacity: 1; }
.images-gallery-items.add .item.active:after{ background: url('../images/minus.png') center no-repeat rgba(121, 45, 45, 0.5); }

@media screen and (max-width: 1601px){ 
    .images-gallery-items .item{ height: 220px; }
}
@media screen and (max-width: 1400px){ 
    .images-gallery-items .item{ height: 210px; }
}
@media screen and (max-width: 767px){
    .images-gallery-items .item{ height: 300px; }
}
@media screen and (max-width: 420px){
    .images-gallery-items .item{ height: 250px; }
}


.gallery-item-image{ position: relative; }
.gallery-item-image .img-native{ margin-bottom: 15px; position: relative; text-align: center; background: #e3e3e3; border-radius: 5px; overflow: hidden; padding: 6px; text-align: center; }
.gallery-item-image .img-native img{ max-width: 100%; }

.mb10{ margin-bottom: 10px; }