.mCSB_scrollTools .mCSB_draggerRail {  }
.mCSB_container { padding-top: 10px; padding-right: 5px; margin: 0px 15px !important; }

#search input { height: 38px; width: 96%; padding: 0px 5px; display: block; margin: 0 auto; border: 1px solid #b7b7b7; border-radius: 3%; }

#product-list { min-height: 663px; }
#product-list h2 { text-align: center; color: #2c2e34; font-size: 14px; font-weight: bold; margin: 0px; padding: 5px 0px; padding-bottom: 7px; }
#product-list h3 { text-align: center; color: #797c87; font-size: 12px; font-weight: bold; margin: 0px; padding: 0px; padding-bottom: 20px; }
#product-list .product-el { text-align: center; z-index: 50; position: relative; }
#product-list .product-el p { color: #797c87; font-size: 10px; font-weight: bold; padding-top: 2px; }
#product-list .product-el .product-thumb { height: 0; width: 100%; padding-bottom: 100%; position: relative; background: white center no-repeat; border-radius: 10%; border: 1px solid #e1e1e1; }
#product-list .product-el .product-thumb .prod-add { height: 22px; width: 22px; opacity: 0; position: absolute; top: -10px; right: -10px; background: white; border-radius: 100%; box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.30); transition: all 0.30s ease-in-out; }
#product-list .product-el .product-thumb .prod-add.checked { opacity: 1; }
#product-list .product-el .product-thumb .prod-add.checked:after { content: "✔"; color: white; font-size: 12px; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 16px; width: 16px; background: #ffae00; border-radius: 100%; }
#product-list .product-el .product-thumb .prod-add:not(.checked):after { content: "+"; line-height: 15px; color: white; font-size: 14px; font-weight: bold; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 16px; width: 16px; background: #ffae00; border-radius: 100%; }
#product-list .product-el:hover .product-thumb .prod-add { opacity: 1; cursor: pointer; }

#product-list .category-el { text-align: center; z-index: 50; cursor: pointer; }
#product-list .category-el .category-thumb { height: 0; width: 100%; padding-bottom: 100%; background: #ffae00 url("../images/ico/dir-ico.png") no-repeat center; border-radius: 10%; }
#product-list .category-el p { color: #797c87; font-size: 10px; font-weight: bold; padding-top: 2px; }

#product-list .list { max-height: 571px; overflow: auto; position: relative; padding: 0px 7px; }
#product-list .list .col-xs-4 { padding: 6px; }

#drop-area { min-height: 800px; }
#drop-area .drop-head { padding-bottom: 20px; }
#drop-area .drop-head h2 { margin: 0px; padding: 0px; float: left; font-size: 18px; color: #797c87; font-weight: bold; }
#drop-area .drop-head p { margin: 0px; padding: 0px; float: right; font-size: 12px; color: #797c87; font-weight: bold; }
#drop-area .drop-head p img { margin-left: 5px; }
#drop-area .drop-box { min-height: 150px; }

#drop-area .promotion-el { font-size: 32px; color: #c6c6c6; font-weight: bold; line-height: 325%; }
#drop-area .promotion-el .el-drop { height: 0; width: 100%; padding-bottom: 100%; background: white url("../images/ico/drag-ico.png") center no-repeat; border-radius: 10%; border: 1px solid #e1e1e1; }
#drop-area .promotion-el .el-drop.category { background: #c6c6c6 url("../images/ico/cat-ico.png") center no-repeat;; }
#drop-area .promotion-el p { line-height: 1; font-size: 11px; text-align: center; padding-top: 7px; }
#drop-area .promotion-el input { height: 38px; min-width: 100px; font-size: 16px; border: 1px solid #b7b7b7; text-align: center; border-radius: 5%; line-height: 1; width: 100%; margin: 7px 0px; }
#drop-area .promotion-el h3 { font-size: 13px; min-width: 100px; text-align: center; margin: 0px; margin-top: 0px; color: #ffae00; padding: 0px; font-weight: bold; }
#drop-area .promotion-el span { min-width: 100px; display: block; cursor: pointer; line-height: 1; font-size: 11px; text-align: left; padding-top: 7px; }
#drop-area .finish-prod { clear: both; border-top: 1px solid #dadada; border-bottom: 1px solid #dadada; padding-top: 15px; margin-bottom: 15px; }


#drop-area .prod-add { height: 30px; width: 30px; margin-top: 35px; cursor: pointer; background: white; position: relative; text-align: center; border-radius: 100%; box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.30); transition: all 0.30s ease-in-out; }
#drop-area .prod-add:after { height: 22px; width: 22px; content: "+"; line-height: 21px; color: white; font-size: 14px; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #ffae00; border-radius: 100%; }

#product-list .cat-up { cursor: pointer; position: absolute; top: 20px; left: 20px; display: none; }

.add-promo-box { text-align: center; font-weight: bold; color: #797c87; cursor: pointer; }

.category { position: relative; cursor: pointer; }
.category .g-edit { height: 22px; width: 22px; opacity: 0; position: absolute; top: -11px; left: 50%; transform: translate(-50%, 0%); background: white; border-radius: 100%; box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.30); transition: all 0.30s ease-in-out; }
.category .g-edit:after { content: "✎"; line-height: 1.2; text-align: center; color: white; font-size: 12px; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 16px; width: 16px; background: #ffae00; border-radius: 100%; }
.category:hover .g-edit { opacity: 1; }

#pop-elements { text-align: center; height: 450px; }
#pop-elements .el-drop { height: 0; width: 100%; padding-bottom: 100%; background: white url("../images/ico/drag-ico.png") center no-repeat; border-radius: 10%; border: 1px solid #e1e1e1; }
#pop-elements .el-drop .p-edit { height: 22px; width: 22px; opacity: 0; cursor: pointer; position: absolute; top: -11px; right: 5px; background: white; border-radius: 100%; box-shadow: -2px 2px 6px 0px rgba(0, 0, 0, 0.30); transition: all 0.30s ease-in-out; }
#pop-elements .el-drop .p-edit:after { content: "x"; line-height: 1.2; text-align: center; color: white; font-size: 12px; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); height: 16px; width: 16px; background: #ffae00; border-radius: 100%; }
#pop-elements .el-drop:hover .p-edit { opacity: 1; }
#pop-elements p { color: #c6c6c6; font-weight: bold; }

#ws-table {}
#ws-table td { text-align: center; vertical-align: middle; }
#ws-table td input { height: 34px; width: 100%; padding: 0px 5px; }
#ws-table td.prod { min-width: 170px; text-align: left; }



