.fc-event { background-color: #ffae00; border-color: #ffae00; font-weight: bold; padding: 7px 3px; position: relative; }
.fc-event.fc-day-grid-event { /*padding-bottom: 14px;*/ }

.fc-day-grid-event .fc-content { padding-top: 10px; padding-bottom: 14px; }
.fc-day-grid-event .fc-content .fc-delete { position: relative; top: -14px; right: -3px; }
.fc-day-grid-event .fc-content .fc-resized { position: absolute; bottom: 0px; right: 0px; }
.fc-day-grid-event .fc-time { display: none; }
.fc-past { color: #ddd; }

.fc-day-grid-event:not(.fc-past):hover { background-color: #d69200 !important; border-color: #d69200 !important; }

.cal-popup-close { position: absolute; top: 5px; right: 10px; cursor: pointer; }
.pop_cnt section.panel header { padding-left: 40px; }
.pop_cnt section.panel header img { position: absolute; left: 10px; top: 15px; }

#external-events { min-height: 428px; overflow: auto; padding-right: 10px; }
#external-events h2 { font-size: 14px; font-weight: bold; color: #2c2e34; text-align: center; padding: 0px; margin: 0px; padding-top: 2px; padding-bottom: 10px; color: #797c87; border-bottom: 1px solid #d7d7db; margin-bottom: 10px; }
#external-events .fc-event { margin-bottom: 5px; padding-right: 30px; }

/*
#search input { height: 38px; width: 90%; max-width: 220px; padding: 0px 5px; display: block; margin: 0 auto; border: 1px solid #b7b7b7; }
*/
#events-list { height: 368px; }

.fc-toolbar .fc-center { text-transform: capitalize; }

#cal-popup { height: 100%; width: 100%; display: none; position: fixed; top: 0px; left: 0px; z-index: 9999; background: rgba(0,0,0,0.25); }
#cal-popup .pop_cnt { width: 90%; max-width: 593px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background: white; padding: 20px; } 
#cal-popup .pop_cnt section.panel { box-shadow: none; margin-bottom: 0px; }

.fc-delete { float: right; margin-right: 2px; }

.select2-results__options>li:nth-child(even) { background-color: #e2e2e2; }

.promo-add-b { transition: 0.5s; transform: scale(0.90) translate(0px,-50%); float: right; cursor: pointer; font-size: 16px; position: absolute; right: 30px; top: 50%; }
.promo-remove-b { transition: 0.5s; transform: scale(0.90) translate(0px,-50%); float: right; margin: 0 5px; cursor: pointer; font-size: 16px; position: absolute; right: 5px; top: 50%; }

.promo-add-b:hover { transform: scale(1) translate(0px,-50%); }
.promo-remove-b:hover { transform: scale(1) translate(0px,-50%); }