.t-number { font-size: 32px; color: #c6c6c6; font-weight: bold; padding-top: 13px; text-align: center; }
.t-delete { margin-top: 22px; }
.t-text { font-size: 24px; color: #c6c6c6; font-weight: bold; padding-top: 20px; text-align: center; }

