section.layout-structure{ position: relative; background: #e3e3e3; padding: 10px; border-radius: 8px; }
section.layout-structure h3{ margin: 0px; font-size: 14px; font-weight: 700; padding: 5px; color: #40434b; margin-bottom: 5px; }
section.layout-structure .row{ padding-top: 5px; padding-bottom: 5px; }
section.layout-structure .pos{ background: #fff; border-radius: 7px; overflow: hidden; margin-bottom: 10px; box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.35); }
section.layout-structure .pos h4{ font-size: 13px; font-weight: 700; margin: 0; padding: 10px 45px 10px 10px; position: relative; color: #fff; background: #337ab7; }
section.layout-structure .pos h4 img{ position: absolute; top: 6px; right: 10px; height: 20px; }
section.layout-structure .pos h4:after{ content: " "; display: block; width: 1px; position: absolute; top: 4px; bottom: 4px; right: 40px; background: #e3e3e3; }
section.layout-structure .pos .body{ border-top: 1px solid #fff; position: relative; padding: 0px 5px; background: #fff; }
section.layout-structure .pos .body .widget{ margin: 5px 0; padding: 3px 3px 3px 10px; border: 1px solid #c2c2c2; border-radius: 5px; background: #f8f8f8; font-size: 0.9em; box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.35); }
section.layout-structure .pos .body .widget .glyphicon{ margin: 3px; cursor: pointer; }
section.layout-structure .pos .body .widget small { font-size: 0.9em; opacity: 0.8; }
section.layout-structure .pos .body .widget .pull-right{ width: 20px; }
section.layout-structure .pos .body .widget:hover{ background: #e3e3e3; }
section.layout-structure .pos .body .widget hr{ margin: 1px 0px; }
section.layout-structure .pos .body .widget .block{ position: relative; padding-right: 26px; min-height: 38px; }
section.layout-structure .pos .body .widget .block .content{ position: relative; }
section.layout-structure .pos .body .widget .block .buttons{ position: absolute; top: 0; right: 0; bottom: 0; width: 25px; border-left: 1px solid #eee; text-align: center; }
section.layout-structure .pos .body .widget.unactive .block .content{ opacity: 0.4; }

section.layout-structure .pos .body.preload:after{ content: ' '; display: block; position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px; background: url(../img/spin.svg) center no-repeat rgba(255,255,255, 0.7); }

section.layout-structure .layout-add-new-widget{ cursor: pointer; }

.w-list{ max-height: 500px; overflow: auto; }
.w-list p{ margin-bottom: 0px; }
.w-list .title{ margin-top: 7px; }
.w-list .item{ cursor: pointer; padding: 4px 15px; font-size: 12px; }
.w-list .item:hover{ background: #e3e3e3; }

.w-list section{ padding: 0 5px; }

#widgetsList .preload{ position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(255, 255, 255, 0.75); border-radius: 5px; display: none; }
#widgetsList .preload.active{ display: block; }
#widgetsList .preload img{ width: 64px; height: 64px; position: absolute; left: 50%; top: 50%; margin-left: -32px; margin-top: -32px; }

section.layout-structure .pos .body .widget.l-on-p{ opacity: 0.65; }
section.layout-structure .pos .body .widget.l-on-p .buttons{ display: none; }
section.layout-structure .pos .body .widget.l-on-p .buttons a{ display: none; }