.menu-generator .first-space{ min-height: 50px; padding: 10px 5px 15px; border: 1px dashed #e1e1e1; }

.menu-generator .item{ display: block; text-align: left; margin-top: 5px; position: relative; }
.menu-generator .item h5{ width: 100%; margin: 0; padding-right: 60px; font-weight: 700; color: #797c87; font-size: 12px; overflow: hidden; text-overflow: ellipsis; }

.menu-generator .item>span,
.menu-generator .item>a>span{ display: block; position: absolute; width: 16px; background-size: 100%!important; opacity: 0.2; }
.menu-generator .item>.move{ top: 5px; right: 5px; height: 16px; background: url(../images/move-icon.png) center no-repeat; }
.menu-generator .item>.up{ top: 4px; right: 25px; height: 8px; background: url(../images/drop-arrow.png) center top no-repeat; }
.menu-generator .item>.down{ top: 14px; right: 25px; height: 8px; background: url(../images/drop-arrow.png) center bottom no-repeat; }
.menu-generator .item>a>.view{ top: 5px; right: 46px; height: 16px; background: url(../images/optical.png) center no-repeat; }

.menu-generator .item:hover>.move, 
.menu-generator .item>.up:hover,
.menu-generator .item>.down:hover,
.menu-generator .item>a>.view:hover{ opacity: 1; }

#menu-pagesList .item>.up,
#menu-pagesList .item>.down{ display: none; }
#menu-pagesList .item>a>.view{ right: 25px; }
#menu-pagesList .item h5{ padding-right: 40px; }

#menu-itemsList .item .space{ position: relative; transition: 0.2s; }
#menu-itemsList .item.show .space{ padding: 8px 0px; border: 1px dashed #e1e1e1; }
#menu-itemsList .item.active .space{ display: none; }

#menu-itemsList{  }
#menu-itemsList.view .item{ cursor: default; }
#menu-itemsList.view .item>.up,
#menu-itemsList.view .item>.down,
#menu-itemsList.view .item>.move{ display: none; }
#menu-itemsList.view .item>a>.view{ right: 5px; }
#menu-pagesList.view .item h5{ padding-right: 25px; }

@media screen and (max-width: 500px){ 
    .menu-generator .first-space{ padding-left: 2px; padding-right: 2px; }
	.menu-generator .btn{ padding: 6px 5px; }
	.menu-generator .item h5{ font-size: 11px; }
}
@media screen and (max-width: 400px){ 
	.menu-generator .panel-body{ padding: 15px 10px; }
}