* { font-family: Verdana; }
*:focus { outline: none; }

a { color: inherit; }
a:hover { color: inherit; text-decoration: none; }

body { background: #e3e3e3; padding: 0px; margin: 0px; }
label { font-weight: inherit; cursor: pointer; }

/* Login box */
div.login-wrap { width: 90%; max-width: 600px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }
div.login-wrap .login-box { width: 100%; border-radius: 3px; padding-bottom: 1px; box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.35); background: white; }
div.login-wrap .login-box .title { font-size: 12px; padding: 13px 0px; padding-left: 10px; font-weight: bold; color: #797c87; border-bottom: 1px solid #d7d7db; }
div.login-wrap .login-box .title img { margin-right: 10px; }
div.login-wrap .login-box .cnt { width: 90%; max-width: 470px; margin: 0 auto; color: #393c43; font-size: 12px; }
div.login-wrap .login-box .cnt form { margin-top: 35px; }
div.login-wrap .login-box .cnt form input[type="text"] { height: 38px; width: 100%; border: 1px solid #b7b7b7; padding-left: 40px; border-radius: 3px; }
div.login-wrap .login-box .cnt form input[type="password"] { height: 38px; width: 100%; margin: 10px 0px; border: 1px solid #b7b7b7; padding-left: 40px; border-radius: 3px; }
div.login-wrap .login-box .cnt form input[type="checkbox"] { position: relative; top: 1px; margin-right: 2px; }
div.login-wrap .login-box .cnt form button[type="submit"] { height: 36px; width: 134px; float: right; background: #ffae00; border: none; border-radius: 5px; border-bottom: 4px solid #ffc600; color: white; text-align: center; font-weight: bold; font-size: 13px;  }
div.login-wrap .login-box .cnt form button[type="submit"]:hover { background: #ffc600; }
div.login-wrap .login-box .cnt .field-loginform-username { position: relative; }
div.login-wrap .login-box .cnt .field-loginform-username:after { height: 14px; width: 11px; display: block; content: " "; position: absolute; left: 16px; top: 13px; background: url("../images/login/ico/login.png") no-repeat; }
div.login-wrap .login-box .cnt .field-loginform-password { position: relative; }
div.login-wrap .login-box .cnt .field-loginform-password:after { height: 14px; width: 10px; display: block; content: " "; position: absolute; left: 16px; top: 13px; background: url("../images/login/ico/password.png") no-repeat; }
div.login-wrap .login-box .cnt .field-loginform-rememberme { color: #797c87; float: left; }
div.login-wrap .login-box .cnt .rem-box { padding-top: 8px; }
div.login-wrap .login-box .cnt .reminder { text-align: center; padding-top: 15px; color: #797c87; clear: both; }
div.login-wrap .login-box .cnt .reminder a { font-weight: bold; }

div.login-wrap .info-box { width: 100%; margin-top: 80px; }
div.login-wrap .info-box .info-left { height: 100%; position: relative; border-right: 1px solid #c3c4c7; background: url("../images/login/info.png") center no-repeat; }
div.login-wrap .info-box .info-right h2 { font-weight: bold; margin: 0px; color: #ffae00; font-size: 14px; padding-bottom: 10px; }
div.login-wrap .info-box .info-right p { font-size: 12px; color: #393c43; line-height: 20px; }
div.login-wrap .info-box .info-right h3 { font-size: 29px; color: #ffae00; font-weight: bold; margin-bottom: 0px; }


@media (max-width:767px) { 
    div.login-wrap .login-box .cnt .reminder { padding-top: 20px; }
    div.login-wrap .info-box { margin-top: 0px; margin-bottom: 20px; text-align: center; }
    div.login-wrap .info-box .info-right h2 { padding-bottom: 15px; }
}



