* { font-family: Verdana; }
html { height: 100%; }
body { height: 100%; overflow: auto; }

a { color: inherit; }
a:hover { color: inherit; text-decoration: none; }
a:active { color: inherit; text-decoration: none; }
a:focus { color: inherit; text-decoration: none; }

main { min-height: 100%; width: 100%; padding-bottom: 50px; max-width: 2000px; margin: 0 auto; overflow: hidden; }
select { width: 100%; }

/* Bootstrap 3 -> 4 fixes */
.pull-right { float: right; }
.pull-left { float: left; }
.summary { padding: 5px 15px; }
.hidden { display: none; }

.btn-xs {
  height: 22px;
  padding: 2px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

#last-edit { display: none; }

/* Article quickmenu */
.cat-list-box.open { width: 66.66%; }
.category-list { height: 34px; transition: 0.5s; }
.category-list.open { height: auto; width: 96%; position: absolute; background: white; padding: 10px; padding-bottom: 0px; border-radius: 5px; z-index: 2; box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.20); }
.category-list .list-close { display: none; position: absolute; top: 10px; right: 15px; font-size: 17px; cursor: pointer; }
.category-list.open .list-close { display: block; }

.category-list .btn { margin-bottom: 10px; }

.li-hidden { display: none; }
.dropdown-menu li { position: relative; }
.dropdown-menu li .article-toggle-ico { position: absolute; left: 5%; top: 50%; transform: translate(0%, -50%); font-size: 13px; }

.select2-results__options>li:nth-child(even) { background: #eaeaea; }

/* Action bar */
.action-bar { color: #828590; font-size: 13px; }
.action-bar .action-text { position: relative; top: 7px; float: left; }
.action-bar .action-select { max-width: 165px; float: left; margin-left: 10px; }
.action-bar .action-button { float: left; margin-left: 10px; }
.action-bar .action-secondary { display: none; }

/* Popup */
.bw-popup { height: 100%; width: 100%; display: none; position: fixed; top: 0px; left: 0px; z-index: 100; background: rgba(0,0,0,0.5); }
.bw-popup .pop-cnt { width: 90%; max-width: 550px; height: 560px; border-radius: 10px; background: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

/* Universal */
.full-width { width: 100%; }
.align-right { text-align: right; }

.article-types { margin-top: 4px; }
.label-delete { background: #eaeaea; padding: 3px 5px; font-size: 12px; border-radius: 15px; font-weight: bold; margin-right: 3px; margin-bottom: 8px; display: inline-block; }
.label-delete>span { font-weight: normal; cursor: pointer; margin-right: 3px; margin-left: 2px; }

.article-types>span { background: #eaeaea; padding: 3px 5px; font-size: 12px; border-radius: 15px; font-weight: bold; margin-right: 3px; margin-bottom: 8px; display: inline-block; }
.article-types>span>span { font-weight: normal; cursor: pointer; margin-right: 3px; margin-left: 2px; }

.inactive-row { background-color: #f9e2e2 !important; }
.inactive-row > td { background-color: #f9e2e2 !important; }
.new-row { background-color: #feffab  !important; }
.new-row > td { background-color: #feffab  !important; }
.active-row { background-color: #c5ffc5 !important; }
.active-row > td { background-color: #c5ffc5 !important; }

.generator-rest-0 { }
.generator-rest-0:before { height: 24px; width: 24px; margin-left: 209px; margin-top: 6px; content: ""; display: block; position: absolute; top: 50%; z-index: 999; background: url('../images/ico/plus.png') no-repeat;  }

.filters>td:first-child input::-webkit-input-placeholder { color: white; }
.filters>td:first-child input::-moz-placeholder { color: white;}
.filters>td:first-child input:-ms-input-placeholder { color: white; }
.filters>td:first-child input:-moz-placeholder { color: white; }

.filters>td input[name*='Search[id]']::-webkit-input-placeholder { color: white; }
.filters>td input[name*='Search[id]']::-moz-placeholder { color: white; }
.filters>td input[name*='Search[id]']:-ms-input-placeholder { color: white; }
.filters>td input[name*='Search[id]']:-moz-placeholder { color: white; }

.select2-container .select2-selection--single { height: auto; min-height: 33px; border-color: #ccc; }
#mceu_284 { position: relative; top: 0px !important; }

.margin-t-40 { margin-top: 40px !important; }
.quick-edit { cursor: pointer; position: relative; }
.quick-edit .finish-edit { position: absolute; right: 5px; font-size: 16px; top: 0px; }

.detail-view tr th { width: 100px; }

.yellow-select { max-width: 100%; cursor: pointer; position: relative; padding: 12px 23px; padding-right: 60px; border: 2px solid #ffae00; background: #ffae00; color: white; font-size: 12px; font-weight: bold; text-align: center; border-radius: 3px; }
.yellow-select:after { height: 8px; width: 13px; content: " "; display: block; position: absolute; right: 14px; top: 50%; transform: translate(0px, -50%); background: url("../images/ico/ys-arrow.png") no-repeat; }
.yellow-select ul { width: 100%; display: none; padding: 6px 0px; margin: 0px; left: 0px; background: white; z-index: 2; margin-top: 20px; list-style: none; text-align: center; position: absolute; box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75); }
.yellow-select ul li { padding: 4px 0px; margin: 0px; font-size: 12px; color: #797c87; font-weight: bold; }
.yellow-select ul li:hover { color: #333333; }
.yellow-select.open { z-index: 5; }

.transparent-select { max-width: 100%; display: inline-block; position: relative; cursor: pointer; padding: 12px 23px; padding-right: 60px; border: 2px solid #ffc600; color: #ffc600; font-size: 12px; font-weight: bold; text-align: center; border-radius: 3px; }
.transparent-select:after { height: 8px; width: 13px; content: " "; display: block; position: absolute; right: 14px; top: 50%; transform: translate(0px, -50%); background: url("../images/ico/ts-arrow.png") no-repeat; }

.table-bordered{ border: none; min-width: 400px; }
.table-bordered > tbody > tr:nth-of-type(odd){ background-color: #f8f8f8; }
.table-bordered > tbody > tr:hover td { background-color: #e0e0e0; }
.table-bordered > tbody > tr:hover { background-color: #e0e0e0; }

.table-bordered > thead > tr > th{ border-top: none; border-right: none; border-left: none; }
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td{ border: none; font-size: 12px; color: #797c87; vertical-align: middle; }

.table-bordered > tbody > tr > td p:last-child{ margin-bottom :  0px; }
.table-bordered > tbody > tr > td:first-child { width: 10px; }
/*.table-bordered > tbody > tr > td:nth-child(2) { width: 50px; }*/
.table-bordered > tbody > tr > td:last-child { width: 105px; }

.table-bordered > thead > tr > th a { position: relative; }
.table-bordered > thead > tr > th a.asc:after { content: "↑"; font-size: 13px; font-weight: bold; padding-left: 5px; color: #666666; }
.table-bordered > thead > tr > th a.desc:after { content: "↓"; font-size: 13px; font-weight: bold; padding-left: 5px; color: #666666; }

.choice_selector { height: 11px; width: 37px; background: #dae1e8; border-radius: 10px; display: inline-block; position: relative; cursor: pointer; }
.choice_selector:after { height: 100%; width: 20px; content: " "; display: block; background: #b3b3b3; right: calc(100% - 20px); border-radius: 10px; position: absolute; transition: all 0.5s ease-in-out; }
.choice_selector.active:after { right: 0px; background: #ffae00; }

.transparent-input { background: none; border: 1px solid #b2b3b7; padding-left: 5px; }

/* Reset */
.pagination { margin-top: 0px; }
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus { background-color: #ffae00; border-color: #ffae00; }
.pagination > li > a, .pagination > li > span { color: #797c87; }


/* Aside bar */

aside.top { padding: 10px 0px; padding-bottom: 13px; background: #212329; position: fixed; top: 0%; width: 85%; z-index: 30; }
aside.top .top-menu { list-style: none; padding-top: 7px; margin: 0px; padding-left: 4%; }
aside.top .top-menu li { color: #828590; transition: 0.5s; position: relative; max-width: 250px; }
aside.top .top-menu li ul { display: none; background: #2c2e34; padding: 15px; list-style: none; border-radius: 5px; }
aside.top .top-menu li ul li { padding: 10px; font-size: 12px; }

aside.top .top-menu li:hover { cursor: pointer; }
aside.top .top-menu li:hover ul { display: block; position: absolute; width: 100%; left: 0%; }
aside.top .top-menu li:hover ul li:hover { background: #40434b; }

aside.top .top-menu li ul li .glyphicon-trash { position: relative; left: -5px; }

aside.top .logout { float: right; margin-right: 4%; padding-top: 13px; padding: 5px 15px; cursor: pointer; border-radius: 5px;}
aside.top .custom-dropdown { padding: 5px 0px; color: #828590; cursor: pointer; font-weight: normal; margin-right: 20px; display: inline-block; border-radius: 5px; position: relative; }
aside.top .custom-dropdown img { margin-right: 7px; margin-left: 2px; position: relative; top: -1px; filter: brightness(2); }
aside.top .custom-dropdown ul { list-style: none; display: none; position: absolute; width: 150px; background: #2c2e34; padding: 15px; list-style: none; border-radius: 5px; }
aside.top .custom-dropdown ul li { padding: 10px; font-size: 12px; }
aside.top .custom-dropdown:hover ul { display: block; position: absolute; left: 0%; }
aside.top .custom-dropdown:hover ul li:hover { background: #40434b; }

aside.left { width: 15%; float: left; position: relative; left: 0px; }
aside.left .aside-bg{ position: absolute; top: 0; left: 0; width: 100%; height: 3000px; background: #212329; }

aside .go_to_page {float: left; margin: 0px 10px 0px 0px;}

aside.left header { padding: 20px 25px 25px; border-bottom: 1px solid #43464d; position: relative; }
aside.left header .wrapper { width: 100%; margin: 0 auto; }
aside.left header .wrapper .top { position: relative; }
aside.left header .wrapper .top:after { content: " "; display: block; clear: both; }
aside.left header .wrapper .top h2 { font-weight: bold; color: #ffae00; font-weight: bold; float: left; font-size: 14px; margin: 0px; margin-bottom: 3px; }
aside.left header .wrapper .top p { font-size: 10px; color: #828590; float: left; clear: left; }
aside.left header .wrapper .top #menu-toggle { float: right; cursor: pointer; opacity: 0.50; transition: all 0.25s ease-in-out; margin-left: 15px; }
aside.left header .wrapper .top #menu-toggle:hover { opacity: 1; }
aside.left header .wrapper .bottom { clear: both; padding-top: 20px; position: relative; }
aside.left header .wrapper .bottom:after { content: " "; display: block; clear: both; }
aside.left header .wrapper .bottom .thumb { height: 83px; width: 83px; border-radius: 100%; display: block; float: left; }
aside.left header .wrapper .bottom .alert-ico { height: 30px; width: 24px; position: absolute; top: 50%; right: 0px; transform: translate(0px, -50%); opacity: 0.50; transition: all 0.25s ease-in-out; background: url("../images/ico/alert-ico.png") no-repeat center; cursor: pointer; }
aside.left header .wrapper .bottom .alert-ico:hover { opacity: 1; }
aside.left header .wrapper .bottom .alert-ico .no { height: 18px; width: 18px; display: inline; position: absolute; font-size: 12px; right: -10%; top: -10%; background: #be1010; border-radius: 100%; color: white; text-align: center; font-weight: bold; }

aside.left section { position: relative; }
aside.left section ul { padding: 0px; margin: 0px; margin-top: 20px; }
aside.left section ul li { min-height: 37px; padding: 0px; margin: 0px; font-size: 12px; color: #828590; position: relative; position: relative; z-index: 1; }
aside.left section ul li:hover>a { background: #40434b; }
aside.left section ul li.active>a { background: #40434b; }
aside.left section ul li a { display: block; width: 100%; padding: 10px 10px 10px 0px; padding-left: 25px; z-index: 2; position: relative; }
aside.left section ul li a img { width: 17px; height: 17px; position: absolute; top: 10px; right: 30px; }
aside.left section ul li ul li { margin: 2px 0; }
aside.left section ul li ul{ background: #202227; margin: 0px; padding: 3px 0px; display: none; }
aside.left section ul li ul li a { width: calc(100% - 40px); margin-left: 40px; padding-left: 20px; word-wrap: break-word; }
aside.left section ul li ul li:hover>a,
aside.left section ul li ul li.active>a { color: #2c2e34; background: white; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
aside.left section ul li ul li.active>a{ background: #e3e3e3; }

aside.left section ul li.dropdown:after{ content: " "; display: block; position: absolute; top: 12px; right: 5px; width: 14px; height: 14px; z-index: 3; background-image: url('../images/ico/arrow-ico.png'); background-position: center; }
aside.left section ul li.dropdown.active:after{ -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg); }
aside.left section ul li.dropdown.active>ul{ display: block; }
aside.left section ul li.dropdown ul li a img{ margin-right: 15px; }
aside.left section ul li.dropdown>a { padding-right: 55px; }
aside.left section.favorite{ border-top: 1px solid #43464d; margin-top: 15px; }

aside.left section ul li ul li ul { max-height: 350px; overflow: auto; list-style: none; padding-left: 20px; margin-top: 5px; background: #3a3a3a; }
aside.left section ul li ul li ul li { min-height: 32px; padding-left: 20px; }
aside.left section ul li ul li ul li a { padding: 5px 0px; padding-left: 10px; color: #2c2e34; background: #ffc600; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }


/* Main section */
section.main { float: left; width: 85%; position: relative; left: 0px; }
section.main .wrapper { width: 90%; max-width: 1200px; margin: 0 auto; padding-top: 53px; }
section.main .wrapper>header { padding-top: 20px; font-size: 12px; color: #2c2e34; font-weight: bold; }
section.main .wrapper>header:after { display: block; clear: both; content: " "; }
section.main .wrapper>header .title { float: left; padding-top: 13px; }
section.main .wrapper>header .title img { position: relative; top: -1px; margin-right: 7px; }
section.main .wrapper>header .custom-dropdown { padding: 12px 15px; cursor: pointer; font-weight: normal; margin-right: 15px; padding-right: 30px; border: 1px solid #2c2e34; display: inline-block; border-radius: 5px; position: relative; }
section.main .wrapper>header .custom-dropdown:after { height: 5px; width: 9px; content: " "; position: absolute; top: 50%; right: 12px; transform: translate(0px, -50%); display: block; background: url("../images/ico/cd-arrow.png") no-repeat; }
section.main .wrapper>header .custom-dropdown img { margin-right: 7px; margin-left: 2px; position: relative; top: -1px; }
section.main .wrapper>header .custom-dropdown ul { list-style: none; display: none; padding: 0px; padding: 10px 13px; margin: 0px; left: 0px; top: 45px; position: absolute; border: 1px solid #2c2e34; border-radius: 5px; }
section.main .wrapper>header .custom-dropdown ul li { padding: 3px 0px; }

/* sitebar compact */
main.menu-action aside.left,
main.menu-action section.main,
main.menu-action section.main .wrapper{ -webkit-transition: all 0.1s ease-in-out; -moz-transition: all 0.1s ease-in-out;  -ms-transition: all 0.1s ease-in-out;  -o-transition: all 0.1s ease-in-out;  transition: all 0.1s ease-in-out; }

aside.left.compact{ left: calc(-15% + 70px); }
aside.left.compact section>ul>li>a{ font-size: 0.01em; color: transparent; } 
aside.left.compact ul li ul li a{ width: 70px; padding: 11px 4px; float: right; font-size: 9px; text-align: center; border-top-left-radius: 0px!important; border-bottom-left-radius: 0px!important; }
aside.left.compact ul li ul li:after{ content: " "; display: block; clear: both; height: 0px; }

section.main.big{ left: calc(-15% / 2 + 35px); }
section.main.big .wrapper{ width: 100%; max-width: 1700px; }

/* Aside bar and Main section - responsive */
@media screen and (max-width: 1900px){ 
    aside.left{ width: 16%; }
    aside.top { width: calc(100% - 16%); }
    section.main{ width: 84%; }
    aside.left.compact{ left: calc(-16% + 70px); }
    section.main.big{ left: calc(-16% / 2 + 35px); }
}
@media screen and (max-width: 1750px){ 
    aside.left{ width: 17%; }
    aside.top { width: calc(100% - 17%); }
    section.main{ width: 83%; }
    aside.left.compact{ left: calc(-17% + 70px); }
    section.main.big{ left: calc(-17% / 2 + 35px); }
}
@media screen and (max-width: 1660px){ 
    aside.left{ width: 18%; }
    aside.top { width: calc(100% - 18%); }
    section.main{ width: 82%; }
    aside.left.compact{ left: calc(-18% + 70px); }
    section.main.big{ left: calc(-18% / 2 + 35px); }
}
@media screen and (max-width: 1540px){ 
    aside.left{ width: 19%; }
    aside.top { width: calc(100% - 19%); }
    section.main{ width: 81%; }
    aside.left.compact{ left: calc(-19% + 70px); }
    section.main.big{ left: calc(-19% / 2 + 35px); }
}
@media screen and (max-width: 1450px){ 
    aside.left{ width: 20%; }
    aside.top { width: calc(100% - 20%); }
    section.main{ width: 80%; }
    aside.left.compact{ left: calc(-20% + 70px); }
    section.main.big{ left: calc(-20% / 2 + 35px); }
}
@media screen and (max-width: 1370px){ 
    aside.left{ width: 21%; }
    aside.top { width: calc(100% - 21%); }
    section.main{ width: 79%; }
    aside.left.compact{ left: calc(-21% + 70px); }
    section.main.big{ left: calc(-21% / 2 + 35px); }
}
@media screen and (max-width: 1300px){ 
    aside.left{ width: 22%; }
    aside.top { width: calc(100% - 22%); }
    section.main{ width: 78%; }
    aside.left.compact{ left: calc(-22% + 70px); }
    section.main.big{ left: calc(-22% / 2 + 35px); }
}
@media screen and (max-width: 1240px){ 
    aside.left{ width: 23%; }
    aside.top { width: calc(100% - 23%); }
    section.main{ width: 77%; }
    aside.left.compact{ left: calc(-23% + 70px); }
    section.main.big{ left: calc(-23% / 2 + 35px); }
}
@media screen and (max-width: 1160px){ 
    aside.left{ width: 24%; }
    aside.top { width: calc(100% - 24%); }
    section.main{ width: 76%; }
    aside.left.compact{ left: calc(-24% + 70px); }
    section.main.big{ left: calc(-24% / 2 + 35px); }
}
@media screen and (max-width: 1120px){ 
    aside.left{ width: 25%; }
    aside.top { width: calc(100% - 25%); }
    section.main{ width: 75%; }
    aside.left.compact{ left: calc(-25% + 70px); }
    section.main.big{ left: calc(-25% / 2 + 35px); }
}
@media screen and (max-width: 1090px){ 
    aside.left header{ padding-left: 15px; padding-right: 20px; }
    aside.left section ul li a{ padding-left: 15px; }
    aside.left section ul li a img{ right: 25px; }
    aside.left section ul li.dropdown:after{ right: 3px; }
    aside.left section ul li ul li a{ width: calc(100% - 25px); margin-left: 25px; padding-left: 15px; }

    aside.left{ width: 25%; }
    aside.top { width: calc(100% - 25%); }
    section.main{ width: 75%; }
    aside.left.compact{ left: calc(-25% + 70px); }
    section.main.big{ left: calc(-25% / 2 + 32px); }

    aside.left.compact ul li ul li a{ width: 70px; }
}
@media screen and (max-width: 1000px){ 
    aside.left{ width: 26%; }
    aside.top { width: calc(100% - 26%); }
    section.main{ width: 74%; }
    aside.left.compact{ left: calc(-26% + 70px); }
    section.main.big{ left: calc(-26% / 2 + 35px); }
}
@media screen and (max-width: 966px){ 
    aside.left{ width: 27%; }
    aside.top { width: calc(100% - 27%); }
    section.main{ width: 73%; }
    aside.left.compact{ left: calc(-27% + 70px); }
    section.main.big{ left: calc(-27% / 2 + 35px); }
}
@media screen and (max-width: 991px){ 
    aside.left, aside.left.compact{ width: 70px; left: 0px; }
    aside.top { width: calc(100% - 70px); }
    section.main, section.main.big{ width: calc(100% - 74px ); left: 0px; }
    section.main .wrapper,
    section.main.big .wrapper{ width: 90%; }

    aside.left header{ display: none; }
    aside.left section>ul>li{}
    aside.left section>ul>li>a{ color: transparent; font-size: 0px; }
    aside.left section ul li.dropdown>a{ padding-right: 3px; }
    aside.left.compact section ul li ul li a,
    aside.left section ul li ul li a{ width: 100%; padding: 10px 4px; font-size: 9px; text-align: center; margin-left: 0px; padding-left: 3px; border-top-left-radius: 0px!important; border-bottom-left-radius: 0px!important; }
    aside.left section ul li a img{ right: 25px; }
}


/* Title - area */
section.title-area { padding-top: 25px; margin-bottom: 20px; }
section.title-area h1 { font-size: 38px; color: #2c2e34; margin-top: 0px; margin-left: -3px; display: inline-block; }
section.title-area h1 a { height: 27px; width: 30px; display: block; float: right;  margin-left: 15px; margin-top: 10px; border-radius: 3px; background: #ffc600 url("../images/ico/push-pin.png") no-repeat center; }
section.title-area h2 { font-size: 14px; color: #ffae00; font-weight: bold; margin: 0px; margin-bottom: 2px; }
section.title-area p { color: #828590; font-size: 12px; }

/* Panel */
section.panel { min-height: 100px; width: 49%; padding: 5px 15px; margin-bottom: 20px; background: white; box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.35); }
section.panel header { font-size: 12px; margin-bottom: 15px; padding: 14px 0px;  position: relative; color: #797c87; padding-left: 22px; font-weight: bold; color: #797c87; border-bottom: 1px solid #d7d7db; }
section.panel header img { margin-right: 10px; }

/*.panel-default > .panel-heading{ background-color: #e3e3e3; color: #6d6e73; font-size: 13px; font-weight: 700; padding: 3px 15px; } 
.panel-default > .panel-heading h2, 
.panel-default > .panel-heading h4, 
.panel-default > .panel-heading h4, 
.panel-default > .panel-heading h5, 
.panel-default > .panel-heading h6{ font-size: 13px; font-weight: 700; } */

section.panel.full { width: 100%; clear: both; position: relative; }
section.panel .panel-body,
section.panel .panel-body .form-control{ font-size: 13px; color: #545558; }
.filters input[type="text"] { display: inline-block; }
.filters input[type="submit"] { display: inline-block; width: 100%; border: 1px solid #ccc; background: #5cb85c; color: white; padding: 8px 12px; }

/* media main styles */
@media screen and (max-width: 1400px){ 
    section.title-area{ padding-top: 20px; margin-bottom: 15px; }
    section.title-area h1{ font-size: 30px; }
    section.title-area h1 a{ margin-top: 6px; }
}
@media screen and (max-width: 1199px){ 
    section.title-area h1{ font-size: 27px; }
    section.main .wrapper>header .custom-dropdown{ padding: 7px 30px 7px 10px; }
    section.main .wrapper>header .logout{ padding-top: 8px; margin-left: 0px; }
    section.main .wrapper>header .custom-dropdown ul{ top: 34px; }
}
@media screen and (max-width: 767px){ 
    section.main .wrapper>header .title{ float: none; padding-top: 0px; padding-bottom: 10px; }
    section.title-area h1{ font-size: 24px; }
    section.title-area h1 a{ margin-top: 3px; }
    section.main .wrapper>header .custom-dropdown{ margin-bottom: 8px; float: left!important; }
}
@media screen and (max-width: 600px){ 
    section.main .wrapper>header .logout{ position: absolute; top: 12px; right: 30px; }
    section.title-area h1{ font-size: 22px; }
    section.title-area h1 a{ margin-top: 2px; margin-left: 10px; }
}
@media screen and (max-width: 400px){ 
    section.main .wrapper>header .title{ padding-top: 20px; }
    section.main .wrapper>header .logout{ position: absolute; top: 0px; right: 15px; }
    section.title-area h1{ font-size: 20px; }
    section.title-area h1 a{ display: none; }
}

/* Module - filemanager */
div.file-module { color: #2c2e34; font-size: 12px; text-align: center; }
div.file-module .file { height: 43px; width: 34px; background: url("../images/file.png") no-repeat; color: #ffae00; font-size: 9px; text-align: center; padding-top: 19px; font-weight: bold; }
div.file-module>div { height: 50px; margin-top: 20px; text-align: left; }
div.file-module>div.open { z-index: 5; }
div.file-module>div>div { height: 100%; }
div.file-module>div>div.open { z-index: 5; }
div.file-module>div>div>div:not(.transparent-select) { position: absolute; top: 50%; transform: translate(0px, -50%); }
div.file-module>div>div>div>b { display: block; font-size: 14px; }
div.file-module>div>div>div>p { color: #797c87; margin: 0px; padding: 0px; }
div.file-module>div>div:nth-child(1) { color: #828590; padding-left: 40px; padding-top: 20px; }
div.file-module>div>div:nth-child(1)>b { color: #2c2e34; }
div.file-module>div>div:nth-child(1)>div { left: 50%; transform: translate(-50%, -50%); }
div.file-module>div>div:nth-child(4) { color: #828590; }
div.file-module>div>div:nth-child(5) { border-left: 2px solid #dae1e8; }

div.file-module>div.margin-t-40{ height: 100%; min-height: 40px; margin-bottom: 30px; }

.upload-manager .add-files #add-files-input{ display: none; }
.upload-manager .add-files label{ color: #fff; background-color: #5cb85c; border-color: #4cae4c; display: inline-block; padding: 6px 12px; margin-bottom: 0; font-size: 14px; font-weight: normal;
                                  line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; -ms-touch-action: manipulation;
                                  cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px;
}
.upload-manager .add-files label:hover{ background-color: #3f8c3f; }

.upload-manager #imagesAddedBox{ position: relative; max-height: 360px; overflow: auto; margin-bottom: 10px; }
.upload-manager #imagesAddedBox>div{ position: relative; margin-bottom: 10px; height: 80px; }
.upload-manager #imagesAddedBox>div .img-body{ width: 80px; height: 80px; overflow: hidden; position: relative; text-align: center; border-bottom: 1px dotted #e3e3e3; float: left; position: absolute; left: 15px; top: 0px; }
.upload-manager #imagesAddedBox>div .img-body img{ max-width: 100%; }
.upload-manager #imagesAddedBox>div .content{ margin-left: 80px; height: 80px; padding: 0px 50px 0px 15px; border-bottom: 1px dotted #e3e3e3; }
.upload-manager #imagesAddedBox>div .content .img-name{ white-space: nowrap; word-wrap: normal; overflow: hidden; text-overflow: ellipsis; }
.upload-manager #imagesAddedBox>div .content .img-size{ font-weight: 700; color: #ffc600; }
.upload-manager #imagesAddedBox>div .content progress{ width: 100%; }
.upload-manager #imagesAddedBox>div .upload-remove { position: absolute; right: 14px; top: 1px; }

textarea.noresize{ resize: none; }

#per-page { position: absolute; right: 15px; top: 5px; width: 190px; }
#per-page span { padding-top: 8px; display: inline-block; }
#per-page select { max-width: 70px; float: right; padding-left: 4px; display: inline-block; margin-left: 10px; }

.per-page-right { 
    position: relative !important; 
    right: auto !important;
    top: auto !important;
    width: auto !important;
    text-align: right; 
}
.per-page-right span { padding-top: 8px; display: inline-block; }
.per-page-right select { max-width: 70px; float: right; padding-left: 4px; display: inline-block; margin-left: 10px; }

.clt, .clt ul, .clt li { position: relative; }
.clt li { color: #898a8d; font-size: 12px; padding-top: 2px; padding-bottom: 2px; }
.clt ul { display: none; list-style: none; padding-left: 32px; padding-bottom: 5px; padding-top: 5px; }
.clt>ul { display: block; }
.clt li::before, .clt li::after { content: ""; position: absolute; left: -12px; }
.clt li::before { border-top: 1px solid #797c87; top: 9px; width: 8px; height: 0; }
.clt li::after { border-left: 1px solid #797c87; height: 100%; width: 0px; top: 2px; }
.clt ul > li:last-child::after { height: 8px; }
.clt .dir { height: 13px; width: 18px; margin-right: 5px; background: url(../images/dir.png) no-repeat; float: left; position: relative; }
.clt .dir:after { height: 9px; width: 9px; cursor: pointer; border: 1px solid #797c87; font-size: 7px; content: "+"; color: #797c87; background: white;  display: block; font-weight: bold; line-height: 7px; position: absolute; right: -3px; bottom: -3px; text-align: center; }
.clt .dir.open { height: 16px; background-position: bottom; }
.clt .dir.open:after { content: "-"; }
.clt .dir.no-child:after { display: none; }
.clt .edit { float: right; position: relative; }
.btn-warning-yellow {
    color: #fff;
    background-color: #fdd138;
    border-color: #fdd138;
}
.control-label {font-weight: bold;}

.modal-xl {
    width: 90%;
    max-width:1200px;
}

.select2-container{
    /* z-index: 999999;*/
}
#mce-modal-block{
    z-index: 9 !important;
}
.mce-window.mce-in{
    z-index: 10 !important;
}
.row-trash { 
    background-color: #f9e2e2 !important; 
}
.row-trash>td { 
    background-color: #f9e2e2 !important; 
}
.row-draft{
    background-color: #d6d6d6 !important;
}
.row-draft>td { 
    background-color: #d6d6d6 !important;
}
.row-waiting{
    background-color: #428bca !important;
    color: #fff !important;
}
.row-waiting td{
    background-color: #428bca !important;
    color: #fff !important;
}
.row-mail-confirm{
    background-color: #fcf8e3 !important;

}
.row-mail-confirm td{
    background-color: #fcf8e3 !important;
}
.mce-charactercount {
    margin: 2px 0 2px 2px;
    padding: 8px !important;
}
.mce-wordcount{
    position: relative !important;

}

/* Optional: Remove the html path code from the status bar. */
.mce-path {
    display: none !important;
}
.mce-panel .twitter-post{
    border: 1px solid;
}

.mce-container-body .select2-container {
    margin: 13px auto !important;
    position: relative;
    display: block;
    width: 93% !important;
}

.mce-container-body .select2-container--default .select2-selection--single .select2-selection__placeholder {
    display: inline-block;
    padding-top: 8px;
}

.nav-tabs.nav-justified > li { font-size: 12px; }

.campaign-add{
    border: 2px solid rgba(0,0,0,.4);
    padding: 20px;
    display: block;
    cursor: pointer;
    text-align: center;
}
.campaign-add.enabled:hover{
    border: 2px solid rgba(0,0,0,.5);
}
.campaign-add.enabled:active{
    border: 2px solid rgba(0,0,0,.8);
    -webkit-box-shadow: -1px 4px 5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 5px -5px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 5px -5px rgba(0,0,0,0.75);
}
.campaign-add.disabled{
    opacity: 0.5;
    cursor: no-drop
}
.material-items{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}
.material-item{
    margin-top: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    cursor: pointer;

}
.material-items .ui-sortable-helper{
    cursor: move;
}
/*.media-left{
    float: left;
    margin-right: 10px;
}*/
.material-items .ui-state-highlight { 
    margin-top: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    background: #e3e3e3;
    height: 100px;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-right, .media>.pull-right {
    padding-left: 10px;
}


.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}


.media-body {
    width: 10000px;
}

.media, .media-body {
    overflow: hidden;
    zoom: 1;
}

.media-left, .media>.pull-left {
    padding-right: 10px;
}



.prompt{
    cursor: pointer;
}
.prompt:hover{
    background: #000;
}

.loading {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
.bg-default{
    background: #e8e8e8;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #cdcdcd;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.mailing-extend{
    display: none;
    background: #fff9e2 !important;
}