
.modal-content{
    border-radius: 0;
    padding: 15px;
}

.manager-nav{
    margin :0;
    list-style-type: none;
    padding: 0;
}
.manager-nav li{
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-top: 3px;
   display: block;
   padding: 6px 12px;
   cursor: pointer
}
.file-one{
    
    height: 125px;
    margin-bottom: 10px;
        background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
     cursor: pointer
}

.file-one:hover{
    border: 1px solid #666;
}
 
