
.mce-charactercount {
    margin: 2px 0 2px 2px;
    padding: 8px !important;
}
.mce-wordcount{
    position: relative !important;

}

/* Optional: Remove the html path code from the status bar. */
.mce-path {
    display: none !important;
}
.twitter-post{
    border: 1px solid #1B95E0;padding: 15px;
}

.blockquote{
    border-left: 3px solid #b00100;
    background: #f7f7f7;
    padding: 30px;

}

.blockquote p{
    padding: 0;
    font-size: 16px;
    font-style: italic;
    text-indent: 30px;

}

.blockquote p:before{
    width: 32px;
    height: 18px;
    background: url('../images/q.png') 0 0 no-repeat;
    content: "";
    display: inline-block;
    padding: 14px;
    margin-right: 10px;
}
.blockquote footer{
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    color: #000; 
}
p{
    text-align: justify;
    font-size: 15px;
    line-height: 27px;
}
 
figure {
    margin: 0px; 

    img { 
        width: 100%;
        height: auto;
    }

    figcaption {
        border: 1px solid #acacac;
        border-top: none;
        padding: 5px 10px;

        header {
            font-size: 12px;
            font-weight: bold;
        }
        main {
            line-height: 1.5;
            font-size: 12px;
            color: #39373f;
        }
    }
}