body {
    padding: 0;
    margin: 0;
    position: relative;
    color: $primaryColor;
    font-family: $Comfortaa;
    font-size: 18px;
}
main{
    max-width: 2500px;
    padding: 0px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
a {
    color: $primaryColor;
}
a:hover{
    text-decoration: none;
    color: $primaryColor;
}
input, input:focus, button, button:focus, textarea:focus, select, select:focus, li {
    outline: none;
}
body{
}
.no-padding {
    padding: 0 !important;
} 

.img-hide {
    display: none !important;
} 

.img-show {
    display: block !important;
}

section {
    height: calc(100vh - 40px);
    background-size: cover;
    background-position: bottom left;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 50px #000;
    position: relative;
    z-index: 9;
    transition: all 0.5s;
    
    &.home {
        background-image: url(../img/tlo-o-artyscie-wht.png);
    }
    
    &.performance {
        background-image: url(../img/tlo_performance.png);
        
        .gallery {
            width: 95%;
            padding-left: 50px;
            margin-top: 150px;
            
            .slick-dots  {
                
                li {
                    margin: 0 0px;
                    width: 15px;
                    
                    button {
                    
                    &:before {
                            font-size: 10px;
                        }
                    }
                }
            }
            
            .slick-slide {
                div {
                    height: 200px;
                    margin-bottom: 20px;
                }
            }
            
            .slide {
                padding: 0px 12px 0px 12px;
                       
                a {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 200px;
                    overflow:hidden;
                    box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
                    transition: all 0.5s;
                    position: relative;
                    z-index: 99;
                    
                    &.is_video {
                        &:after {
                            content: '';
                            position: absolute;
                            background-image: url(../img/play.png);
                            background-repeat: no-repeat;
                            background-position: center center;
                            z-index: 999;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    img {
                        display: flex;
                        align-self:center;
                    }

                    &:hover {
                        transform: scale(1.03);
                        box-shadow: 1px 1px 15px rgba(0,0,0,0.5);
                    }

                }
            }
        }
    }
    
    &.archiwum {
        background-image: url(../img/tlo-archiwum-wht.png);
        
        .content {
            padding: 20px 50px 0px;
        
            h1 {
                text-align: center;
                width: 100%;
                margin-bottom: 10px;
            }

            .row {
                padding: 15px;

                .col-item {
                    height: auto;
                    max-height: 400px;
                    width: 18%;
                    -ms-flex: 0 0 18%;
                    flex: 0 0 18%;
                    max-width: 18%;
                    margin: 0px 1% 20px 1%;

                    a {
                        width: 100%;
                        height: 100%;
                        display: block;
                        overflow:hidden;
                        box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
                        transition: all 0.5s;

                        .img {
                            width: 100%;
                            height: 50%;
                            display: flex;
                            justify-content: center;
                            overflow:hidden;

                            img {
                                display: flex;
                                align-self:center;
                            }

                        }

                        .text {
                            background-color: rgba(255,255,255,0.8);
                            padding: 20px 20px 10px 20px;
                            height: 50%;
                            transition: all 0.5s;
                            position: relative;
                            background-repeat: no-repeat;
                            background-position: bottom 20px right 20px;
                            background-image: none;
                            
                            span {
                                font-size: 1em;
                            }
                            
                            h2 {
                                font-size: 1.1em;
                                margin-top: 10px;
                            }
                            
                            p {
                                font-size: 0.7em;
                                line-height: 1.2em;
                                margin: 0px;
                            }
                        }

                        &:hover {
                            transform: scale(1.03);
                            box-shadow: 1px 1px 15px rgba(0,0,0,0.5);
                            transition: all 0.3s;
                            
                            .text {
                                
                                background-image: url(../img/czytaj-wiecej-archiwum.png);
                                transition: all 0.3s;
                                
                            }
                        }
                    }
                }
            }
        }
    }
    
    &.contact {
        background-image: url(../img/tlo-kontakt-wht.png);
        
        .content {
            padding: 20px 0px 0px;
        
            h1 {
                text-align: center;
                width: 100%;
                margin-bottom: 10px;
            }

            .row {
                width: 700px;
                margin: 0px auto;
            }
            
            form {
                margin-top: 10px;
                
                .form-group {
                    margin-bottom: 0px; 
                    
                    &.field-contactdefault-accept {
                        margin-bottom: 0px;
                    }
                
                    input, textarea {
                        width: 100%;
                        background-color: transparent;
                        border: 1px solid $primaryColor;
                        border-radius: 20px;
                        height: 44px;
                        padding: 12px 15px 12px 15px;
                    }
                    
                    p {
                        margin-bottom: 0.5rem;
                
                        &.help-block {
                            color: red;
                            font-size: 0.8em;
                            line-height: 1em;
                            height: 1em;
                            margin-left: 10px;
                            margin-bottom: 1px;
                            margin-top: 5px;
                        }
                    }

                    textarea {
                        height: 167px;
                    }

                    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        font-size: 0.88rem;
                    }
                    ::-moz-placeholder { /* Firefox 19+ */
                        font-size: 0.88rem;
                    }
                    :-ms-input-placeholder { /* IE 10+ */
                        font-size: 0.88rem;
                    }
                    :-moz-placeholder { /* Firefox 18- */
                        font-size: 0.88rem;
                    }
                    
                }
                    
                .custom-control-label {
                    font-size: 0.7em;
                    margin-left: 20px;
                    margin-bottom: 5px;
                    margin-top: 10px;
                    
                    &:before {
                        background-color: transparent;
                        border: 1px solid $primaryColor;
                        border-radius: 100%;
                        width: 12px;
                        height: 12px;
                        top: 5px;
                        left: -20px;
                    }
                    
                    &:after {
                        border-radius: 100%;
                        width: 6px;
                        height: 6px;
                        top: 8px;
                        left: -17px;
                    }
                    
                    a {
                        font-weight: 700;
                    }
                }
                    
                .custom-control-input:checked~.custom-control-label::after {
                    background-image: none;
                    background-color: $primaryColor;
                }
                    
                .custom-control-input:checked~.custom-control-label::before {
                    background-image: none;
                    background-color: transparent;
                }
                
                .required {
                    font-size: 0.8em;
                    margin-bottom: 0px;
                }
                
                .btn {
                    transition: all 0.3s;
                    background-color: $primaryColor;
                    color: $thirdColor;
                    font-size: 0.9em;
                    padding: 7px 40px;
                    border: 1px solid $primaryColor;
                    border-radius: 20px;
                    margin-bottom: 10px;
                    
                    &:hover {
                        background-color: $thirdColor;
                        color: $primaryColor;
                    }
                }
            }
            
            .realizatons {
                margin-top: 30px;
            
                h3 {
                    font-size: 1.3em;
                    margin-bottom: 25px;
                    text-align: center;
                    width: 100%;
                }
                
                img {
                    margin: 0px auto 10px auto;
                
                    &.img-dark {
                        display: none;
                    }
                }
                
                p {
                    width: 100%;
                }
                
                div {
                    margin: 20px auto 70px auto;
                    width: 80%;
                    
                    img {
                        float: left;
                        margin-right: 20px;
                    }
                    
                    p {
                        &:last-child {
                            text-align: left;
                            margin-top: -10px;
                        }
                    }
                }
                
            }
        }
    }
    
    &.performances {
        background-image: url(../img/tlo_performances.png);
        
        form {
            
            .form-control {
                width: 35%;
                display: inline-block;
                border-radius: 0px;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                border: 1px solid $primaryColor;
                background-color: transparent;
                font-size: 0.88rem;
                height: 40px;
            }
            
            .btn {
                width: 120px;
                display: inline-block;
                border-radius: 0px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                border: 1px solid $primaryColor;
                background-color: $primaryColor;
                color: $thirdColor;
                margin-left: -6px;
                font-size: 1rem;
                height: 40px;
            }
        }
        
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-size: 0.88rem;
        }
        ::-moz-placeholder { /* Firefox 19+ */
            font-size: 0.88rem;
        }
        :-ms-input-placeholder { /* IE 10+ */
            font-size: 0.88rem;
        }
        :-moz-placeholder { /* Firefox 18- */
            font-size: 0.88rem;;
        }
        
        .performances-items {
            margin-top: 70px;
            margin-left: 0px;
            padding-left: 0px;
            list-style: none;
            
            li {
                &.is_more_info {
                    background-image: url(../img/czytaj-wiecej-archiwum.png);
                    background-position: center right 50px;
                    background-repeat: no-repeat;
                    margin-bottom: 0px;
                }
                
                &:before {
                    content: attr(data-number);
                    font-size: 0.88em;
                }
                
                h3 {
                    display: inline-flex;
                    font-size: 1em;
                    font-weight: 700;
                    margin-bottom: 0px;
                    width: 80%;
                }

                p {
                    margin-left: 25px;
                    margin-top: 0px;
                    font-size: 1em;
                    width: 80%;
                }
        }
        }
    }
    
    .content {
        height: 82vh;
        overflow: auto;
        margin-top: 110px;
        padding-top: 30px;
        padding-right: 10%;
        -webkit-mask-image: -webkit-linear-gradient(transparent 1%, black 7%, black 95%, transparent 99%);
        mask-image: linear-gradient(transparent 1%, black 7%, black 95%, transparent 99%);
        
        h1 {
            width: 90%;
            font-size: 5em;
            font-weight: 300;
            line-height: 1.1em;
            font-family: $Montserrat;
            margin-bottom: 30px;
        }
        
        h2 {
            margin-top: 40px;
            font-size: 1.55em;
        }
        
        .short_description {
            
            p {
                font-size: 1.44em;
                line-height: 38px;
            }
        }
            
        p {
            font-size: 1em;
            line-height: 28px;
        }
        
        &.content-left {
            padding-right: 0px;
            padding-left: 5%;
        }
    }
    
    .mouse {
        position: absolute;
        bottom: 40px;
        right: 50px;
        width: 30px;
        
        svg {
            
            .mouse_path {
                fill: transparent;
                stroke: $primaryColor;
                stroke-width: 2;
                opacity: 0.8;
            }
            
            .line {
                fill: $primaryColor;
                opacity: 0.8;
            }
            
            .arrow {
                fill: $primaryColor;
                transition: all 0.5s;
                
                &.arrow_1 {
                    opacity: 0.9;
                    -webkit-animation: arrow_1 1s 0s infinite;
                    -moz-animation: arrow_1 1s 0s infinite;
                    animation: arrow_1 1s 0s infinite;
                }
                
                &.arrow_2 {
                    opacity: 0.6;
                    -webkit-animation: arrow_2 1s 1s infinite;
                    -moz-animation: arrow_2 1s 1s infinite;
                    animation: arrow_2 1s 1s infinite;
                }
                
                &.arrow_3 {
                    opacity: 0.3;
                    -webkit-animation: arrow_3 1s 1s infinite;
                    -moz-animation: arrow_3 1s 1s infinite;
                    animation: arrow_3 1s 1s infinite;
                }
            }
        }
    }
}

/* Lightbox */
.sl-wrapper {
    
    .sl-image {
        transform: translate(-50%, -50%) !important;
        left: 50% !important;
        top: 40% !important;
        
        .sl-caption {
            background: transparent;
            padding-bottom: 10px;
            border-bottom: 1px solid $fourColor;
            position: relative;
            width: 100% !important;
                
            span {
                font-size: 0.88em;
                font-size: 1.1em;
                display: inline-block;
                height: 50px;
                float: left;
            }
            
            h3 {
                font-size: 1em;
                display: inline-block;
                margin: 5px 0px 0px 20px;
            }
            
            p {
                font-size: 0.7em;
                display: inline-block;
                margin: 5px 0px 0px 20px;
                width: 70%;
            }
        }
        
        img {
            border: 4px solid $fourColor;
        }
    }
    
    .sl-top {
        
        p {
            width: 50%;
            display: inline-block;
            color: $fourColor;
            font-size: 0.7em;
            padding-left: 10px;
            margin: 0px;
        }
    
        .sl-close {
            position: relative;
            width: 50%;
            display: inline-block;
            margin: 0px;
            top: 0px;
            right: 0px;
            color: $fourColor;
            font-size: 0.7em;
            line-height: initial;
            height: 20px;
            text-align: right;
            padding-right: 15px;
            cursor: pointer;
            font-family: inherit;
            background-image: url(../img/zamknij.png);
            background-repeat: no-repeat;
            background-position: right top 2px;
        }
        
    }
    
    .sl-navigation {
        width: auto;
        position: fixed;
        z-index: 9999;
        display: block;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 45%;
        
        button {
            position: absolute;
            
            &.sl-prev {
                left: -60px;
            }
            
            &.sl-next {
                right: -60px;
            }
        }
    }
}

.sl-overlay {
    background: #000;
}

/* Animation */
@keyframes arrow_1 {
    0%   {opacity: 0.9;}
    20%  {opacity: 0.6;}
    40%  {opacity: 0.3;}
}

@keyframes arrow_2 {
    0%   {opacity: 0.6;}
    20%  {opacity: 0.9;}
    40%  {opacity: 0.6;}
}

@keyframes arrow_3 {
    0%   {opacity: 0.3;}
    20%  {opacity: 0.3;}
    40%  {opacity: 0.9;}
}

/* Theme dark */
body {
    &.contrastDark {
        color: $thirdColor;
        
        .home {
            background-image: url(../img/tlo-o-artyscie-blk.png);
        }
    
        .performance {
            background-image: url(../img/tlo-performance-blk.png);
        
            .gallery {

                .slide {

                    .row {

                        div {

                            a {
                                
                                img {
                                }

                                &:hover {
                                    box-shadow: 1px 1px 15px rgba(255,255,255,0.5);
                                }
                            }
                        }
                    }
                }
            }
        }

        .archiwum {
            background-image: url(../img/tlo_archiwum_blk.png);
            
            .content {
                .row {
                    .col-item {
                        a {
                            
                            .text {
                                background-color: rgba(56,56,56,0.8);
                            }
                        
                            &:hover {
                                box-shadow: 1px 1px 15px rgba(255,255,255,0.5);
                            }
                        }
                        
                        &:hover {
                            
                            .text {
                                
                                background-image: url(../img/wiecej-biala-archiwum.png);
                                
                            }
                        }
                    }
                }
            }
        }

        .contact {
            background-image: url(../img/tlo-kontakt-blk.png);
        
            .content {
                
                .success {
                    color: green;
                    text-align: center;
                }

                form {

                    .form-group {

                        input, textarea {
                            background-color: transparent;
                            border: 1px solid $thirdColor;
                            color: $thirdColor;
                        }
                        
                        p {
                            margin-bottom: 0.5rem;
                        }
                    }
                    
                    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                        color: $thirdColor;
                    }
                    ::-moz-placeholder { /* Firefox 19+ */
                        color: $thirdColor;
                    }
                    :-ms-input-placeholder { /* IE 10+ */
                        color: $thirdColor;
                    }
                    :-moz-placeholder { /* Firefox 18- */
                        color: $thirdColor;
                    }
                
                    .btn {
                        background-color: $thirdColor;
                        color: $primaryColor;
                        border: 1px solid $thirdColor;

                        &:hover {
                            background-color: $primaryColor;
                            color: $thirdColor;
                        }
                    }
                }
                
                .realizatons {
                    
                    img {
                        
                        &.img-light {
                            display: none;
                        }
                        
                        &.img-dark {
                            display: block;
                        }
                    }
                }
            }
        }
    
        .performances {
            background-image: url(../img/tlo-performances-blk.png);
        
            form {

                .form-control {
                    border: 1px solid $thirdColor;
                    background-color: transparent;
                    color: $thirdColor;
                }

                .btn {
                    border: 1px solid $thirdColor;
                    background-color: $thirdColor;
                    color: $primaryColor;
                }
            }

            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $thirdColor;
            }
            ::-moz-placeholder { /* Firefox 19+ */
                color: $thirdColor;
            }
            :-ms-input-placeholder { /* IE 10+ */
                color: $thirdColor;
            }
            :-moz-placeholder { /* Firefox 18- */
                color: $thirdColor;
            }
            
            #slider {
                
                svg {
                    
                    text {
                        fill: $thirdColor;
                    }
                }
                
                #handle-one {
                    background-image: url(../img/strzalka-skala-biala-prawa.png);
                }
                
                #handle-two {
                    background-image: url(../img/strzalka-skala-biala-lewa.png);
                }
            }
        }
                    
        .mouse {

            svg {

                .mouse_path {
                    stroke: $thirdColor;
                }

                .line {
                    fill: $thirdColor;
                }

                .arrow {
                    fill: $thirdColor;
                }
            }
        }
        
        header {
            
            .container-fluid {
                background-color: $primaryColor;
                
                .top {
                
                    .navbar-expand-lg {

                        .navbar-nav {

                            .nav-item {

                                .nav-link {
                                    color: $thirdColor;
                                }
                                
                                &.dropdown {
                                    .dropdown-menu {
                                        background-color: rgba(56,56,56,0.8);

                                        .dropdown-menu-item {
                                            color: $fourColor;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .font-size {

                        ul {

                            li {
                                border-right: 1px solid $thirdColor;
                                
                                &:last-child {
                                    border-right: 0px solid $thirdColor;
                                }
                            }
                        }
                    }

                    .contrast {

                        ul {
                            li {
                                a {

                                    &.contrast-light {
                                        background-color: $thirdColor;
                                        border: 1px solid transparent;
                                        color: $primaryColor
                                    }

                                    &.contrast-dark {
                                        border: 1px solid $thirdColor;
                                    }

                                }
                            }
                        }

                    }
                    
                    .lang {

                        ul {
                            li {
                                border-right: 1px solid $thirdColor;
                            }
                            
                        }
                    }

                    .navbar-brand {
                        color: $thirdColor;
                    }
                }
            }
        }
        
        a {
            color: $thirdColor;
        }
    }
}
