/* fontBig */
body {
    
    &.fontBig {
        font-size: $fontBig;
    }
}

/* fontBigger */
body {
    
    &.fontBigger {
        font-size: $fontBigger;
    }
    
}
@media(max-width:1800px){
    /* fontBig */
body {
    
    &.fontBig {
        font-size: $fontBigResponsive;
    }
}

/* fontBigger */
body {
    
    &.fontBigger {
        font-size: $fontBiggerResponsive;
    }
    
}
body {
    font-size: 16px;
}
section {
    .content {
        h1 {
            font-size: 4.5em;
            line-height: 1em;
        }
    } 
}
}
@media(max-width:1440px){
section {
    .content {
        h1 {
            font-size: 4em;
            line-height: 1em;
        }
    } 
}
header {
    .top {
        .navbar-expand-lg {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        padding: 0px 20px
                    }
                }
            }
        }
        .font-size {
            p {
                width: 80px;
            }
        }
    }
}
}
@media(max-width:1366px){
section {
    .content {
        height: 65vh;
    }
    &.archiwum {
        .content {
            .row {
                .col-item {
                    width: 23%;
                    -ms-flex: 0 0 23%;
                    flex: 0 0 23%;
                    max-width: 23%;
                    
                }
            }
        }
    }
}
}
@media(max-width:1280px){
section {
    &.home {
        background-position: bottom center;
    }
    &.performance {
        .gallery {
            margin-top: 150px;
        }
    }
    .content {
        h1 {
            font-size: 3.5em;
            line-height: 1em;
        }
    } 
}
header {
    height: auto;
    background-color: rgba(239, 239, 239, 0.7);
    
    .top {
        height: auto;
        
        .navbar-expand-lg {
            width: 100%;
            
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        padding: 0px 0px 0px 40px;
                    }
                }
            }
            
            .mr-auto, .mx-auto {
                margin-right: initial!important;
                margin-left: auto!important;
                margin-top: -15px;
            }
        }
        .font-size {
            margin-left: auto;
            width: 35%;
            
            p {
                width: 145px;
            }
        }
        .contrast {
            margin-top: -8px;
            width: 25%;
        }
        .lang {
            margin-top: -5px;
        }
    }
}
}
@media(max-width:1024px){
header {
    .top {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        
        .navbar-brand {
            width: 120px;
        }
        .navbar-expand-lg {
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        padding: 0px 10px
                    }
                }
            }
        }
    }
}
section {
    &.archiwum {
        .content {
            .row {
                .col-item {
                    width: 31%;
                    -ms-flex: 0 0 31%;
                    flex: 0 0 31%;
                    max-width: 31%;
                    
                }
            }
        }
    }
}
}
@media(max-width:992px){
section {
    &.home {
        background-image: url(../img/tlo-kontakt-wht.png);
    }
    &.performance {
        
        .gallery {
            padding-left: 0px;
            
            .slick-dots {
                bottom: -40px;
            }
        }
    }
        
    &.contact {
        .content {
            margin-top: 130px;
            
            .row {
                width: auto;
            }
        }
    }
    
    .content {
        padding-left: 5%;
        padding-right: 5%;
    }
}
.contrastDark {
    section {
        &.home {
            background-image: url(../img/tlo-kontakt-blk.png);
        }
    }
    .navbar-light {
        .navbar-toggler {
            color: rgba(255,255,255,.5);
            border-color: rgba(255,255,255,.1);
            
            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
        }
    }
}
header {
    height: auto;
    background-color: rgba(239, 239, 239, 1);
    
    .top {
        
        .navbar {
            padding: .5rem 10px;
        }
        
        .navbar-expand-lg {
            
            .navbar-nav {
                .nav-item {
                    .nav-link {
                        padding: 5px 0px 0px 40px;
                        text-align: right;
                    }
                    
                    &.dropdown {
                        .dropdown-menu {
                            background-color: transparent;
                            padding: 0px 0px;
                            width: auto;
                            margin-left: auto;
                            text-align: right;
                            border: 0px;
                            box-shadow: 0px 0px 0px rgba(2,3,3,0.15);
                        }
                    }
                }
            }
            
            .mr-auto, .mx-auto {
                margin-right: auto!important;
                margin-left: initial!important;
                margin-top: 5px;
            }
        }
        
        .font-size {
            width: 39%;
        }
        .contrast {
            width: 23%;
        }
        .lang {
            width: 15%;
            
            ul {
                margin-left: auto;
            }
        }
    }
}
}
@media(max-width:767px){
header {
    .top {
        .font-size {
            width: auto;
            padding: .5rem 0px .5rem 0px;
            
            p {
                display: none;
            }
        }
        .contrast {
            width: auto;
            
            p {
                display: none;
            }
        }
        .lang {
            width: auto;
            margin-left: 20px;
        }
    }
}
section {
    height: auto;
    
    .content {
        height: auto;
        -webkit-mask-image: none;
        padding-top: 40px;
    }
        
    .mouse {
        display: none;
    }
    &.archiwum {
        .content {
            .row {
                .col-item {
                    width: 48%;
                    -ms-flex: 0 0 48%;
                    flex: 0 0 48%;
                    max-width: 48%;
                    
                }
            }
        }
    }
    &.performance {
        
        .content {
            margin-top: 0px;
            padding-top: 20px;
        }
        
        .gallery {
                width: 100%;
                height: 150px;
                margin-left: auto;
                margin-right: auto;
                
            .slide {
                
                a {
                    height: 130px;
                }
            }
        }
    }
}
}
@media(max-width:640px){
section {
    .content {
        h1 {
            font-size: 3em;
            line-height: 1em;
        }
        &.content-left {
            padding-right: 0px;
            padding-left: 0%;
        }
    } 
    &.performances {
        form {
            .form-control {
                width: 60%;
            }
            .btn {
                width: 40%;
            }
        }
        .performances-items {
            li {
                &.is_more_info {
                    background-position: top 10px right 10px;
                }
            }
        }
    }
    &.archiwum {
        .content {
           padding: 20px 30px 0px; 
        }
    }
        
}
.d3-slider {
    width: 93%;
    &.d3-slider-horizontal {
        margin-left: 0px;
    }
}
}
@media(max-width:440px){
header {
    .container-fluid {
        padding: 0px;
        .top {
            .navbar-brand {
                margin-left: 10px;
            }
            .font-size {
                ul {
                    li {
                        padding: 5px 8px 0px 8px;
                    }
                }
            }
            .lang {
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }
}
section {
    height: auto;
    
    .content {
        h1 {
            font-size: 1.8em;
            line-height: 1.2em;
        }
        .short_description {
            p {
                font-size: 1.2em;
                line-height: 1.4em;
            }
        }
    } 
    &.contact {
        .content {
            form {
                margin-top: 20px;
            }
            .realizatons {
                h3 {
                    font-size: 1.5em;
                }
                div {
                    margin: 20px auto 0px auto;
                    width: 95%;
                }
            }
        }
    }
    &.archiwum {
        .content {
            
            .row {
                .col-item {
                    width: 98%;
                    -ms-flex: 0 0 98%;
                    flex: 0 0 98%;
                    max-width: 98%;
                    
                }
            }
        }
    }

}
footer {
    height: 70px;
    
    a {
        &.la {
            width: 100%;
            display: block;
            margin-bottom: 2px;
        }
    }
}
}
@media(max-height:900px){
section {
    &.performance {
        
        .gallery {
            
            .slide {
                
                .row {
                    
                    div {
                        height: 175px;
                    }
                }
            }
        }
    }
}
}
@media(max-height:820px) and (min-width: 992px){
section {
    .content {
        height: 80vh;
    }
    &.performance {
        
        .gallery {
            
            .slick-slide {
                div {
                    height: 160px;
                }
            }
            .slide {
                        
                a {
                    height: 160px;
                }
            }
        }
    }
}
}

