footer {
    width: 100%;
    height: 40px;
    background-color: $primaryColor;
    padding: 5px 40px;
    z-index: 1;
    
    a {
        color: $thirdColor;
        font-size: 0.6em;
        font-weight: 300;
        background-repeat: no-repeat;
        background-position: left center;
        padding: 5px 0px 5px 30px;
        margin-right: 20px;
        
        &:hover {
            color: $thirdColor;
        }
        
        strong {
            font-weight: 700;
        }
        
        &.bw {
            background-image: url(../img/Logo-blackwolf.png);
        }
        
        &.la {
            background-image: url(../img/logo-la.png);
        }
    }
}