header {
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100px;
    
    .top {
        width: 98%;
        height: 100px;
        margin: 0px auto;
        border-bottom: 1px solid #d5d5d5;
        padding-left: 25px;
        padding-right: 25px;
    
        .navbar-brand {
            font-family: $Comfortaa;
            font-size: 1em;
            line-height: 20px;
            font-weight: 700;
            width: 140px;
            white-space: initial;
            color: $primaryColor;
        }
        
        .navbar-expand-lg {
            width: 50%;
            
            .navbar-nav {
                
                .nav-item {
                    
                    .nav-link {
                        font-size: 1em;
                        font-weight: 300;
                        padding: 0px 30px;
                        color: $primaryColor;
                        transition: all 0.5s;
                    }
                    
                    &.active {
                    
                        .nav-link {
                            font-weight: 700;
                        }
                        
                    }
                    
                    &:hover {
                    
                        .nav-link {
                            font-weight: 700;
                        }
                        
                    }
                    
                    &.dropdown {
                        .dropdown-menu {
                            background-color: rgba(244,244,244,0.8);
                            padding: 20px 30px;
                            width: 230px;
                            border: 0px;
                            box-shadow: 0px 7px 20px rgba(2,3,3,0.15);
                            
                            .dropdown-menu-item {
                                color: $primaryColor;
                                font-family: $Comfortaa;
                                margin: 10px 0px;
                                display: block;
                                
                                &:hover {
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                    
                }
            }
        }
        
        .font-size {
            width: 20%;
            display: inline-flex;
            font-size: 1em;
            align-items: center;
            padding: .5rem 1rem .5rem 0px;
            transition: all 0.5s;
            
            p {
                margin: 0px;
            }
            
            ul {
                margin: 0px 0px 6px 0px;
                font-size: 1em;
                padding: 0px 0px 0px 0px;
                
                li {
                    display: inline;
                    padding: 5px 12px 0px 12px;
                    border-right: 1px solid $primaryColor;
                    letter-spacing: -3px;
                        
                    &:last-child {
                        border-right: 1px solid transparent;
                    }
                
                    a {
                        letter-spacing: 0px;
                        transition: 0.3s;
                        display: inline-block;
                        
                        &.font-size-default {
                            font-size: 1em;
                        }
                        
                        &.font-size-big {
                            font-size: 1.22em;
                        }
                        
                        &.font-size-bigger {
                            font-size: 1.44em;
                        }
                        
                        &:hover {
                            font-weight: 700;
                        }
                    }
                }
                
            }
        }
        
        .contrast {
            width: 20%;
            display: inline-flex;
            font-size: 1em;
            align-items: center;
            
            p {
                margin: 0px;
            }
            
            ul {
                margin: 0px 0px 0px 15px;
                padding: 0px;
                
                li {
                    display: inline;
                    padding: 0px;
                    
                    a {
                        font-size: 1.11em;
                        font-weight: 700;
                        transition: all 0.3s;
                        
                        &.contrast-light {
                            border: 1px solid $primaryColor;
                            border-top-left-radius: 20px;
                            border-bottom-left-radius: 20px;
                            margin-right: -7px;
                            padding: 5px 12px 5px 18px;
                        }
                        
                        &.contrast-dark {
                            border: 1px solid $primaryColor;
                            color: $secondaryColor;
                            background-color: $primaryColor;
                            border-top-right-radius: 20px;
                            border-bottom-right-radius: 20px;
                            padding: 5px 18px 5px 12px;
                        }
                    }
                }
                
            }
            
        }
        
        .lang {
            width: 10%;
            display: inline-flex;
            font-size: 1em;
            align-items: center;
            padding: 0px;
            
            ul {
                margin: 0px 0px 0px auto;
                padding: 0px;
                
                li {
                    display: inline;
                    border-right: 1px solid $primaryColor;
                    transition: all 0.5s;
                        
                    &:last-child {
                        border-right: 1px solid transparent;
                    }
                        
                    &.active {
                        font-weight: 700;
                    }
                        
                    &:hover {
                        font-weight: 700;
                    }
                    
                    a {
                        font-size: 1em;
                        padding: 0px 5px 0px 10px;
                    }
                }
                
            }
            
        }
        
    }
    
}