/* OGÓLNE */

.btn:hover {
   background: #febc30;
   border-bottom: 4px solid #febc30; 
}

.margin-t-10 {
    margin-top: 10px;
}

.float-left {
    float: left;
}

input.width150 {
    width: 150px !important;
}

.clear-btn {
    background-color: transparent;
    border: 0px;
    color: #000000;
    float: right;
}

.btn.clear-btn:hover {
   background: transparent;
   border-bottom: 0px; 
   text-decoration: underline;
}

section.panel header span {
    font-weight: 400;
}

/* NEWSLETTER */

.newsletter-page .panel.full {
    overflow: hidden;
}

.newsletter-box {
    height: auto;
    overflow: hidden;
    margin: 20px 0px;
}

.newsletter-box .row {
    padding: 40px 40px;
}

.noPadding {
    padding-left:0px;
    padding-right: 0px;
}

.newsletter-page input.yellow-btn-transparent {
    background-color: transparent;
    color: #000000;
    width: 200px;
    border: 2px solid #ffae00;
    margin-left: 0px;
    padding: 12px;
}

.newsletter-page .configuration-form input.yellow-btn-transparent {
    width: 240px;
}

.newsletter-page .yellow-transparent-select {
    background-color: transparent;
    color: #ffae00;
    max-width: 240px;
    text-align: left;
}

.newsletter-page .yellow-transparent-select ul {
    background-color: #ffffff;
    z-index: 99;
}

.newsletter-page .yellow-transparent-select:after {
    background: url(../images/ico/ts-arrow.png) no-repeat;
}

.newsletter-page .form-group span {
    display: inline-block;
    /*width: 100%;*/
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
}

.configuration-form .form-group span {
    font-weight: 400;
    font-size: 14px;
}

.newsletter-box .selected-group div {
    text-align: center;
    font-weight: 700;
    max-width: 240px;
    margin-top: 10px;
}

.newsletter-box .selected-group div a {
    font-weight: 400;
    font-size: 17px;
}

.newsletter-box .progress-bar {
    background-color: #ffae00 !important;
    -webkit-box-shadow: inset 0 0px 0 rgba(0, 0, 0, .10);
    box-shadow: inset 0 0px 0 rgba(0, 0, 0, .10);
    background-image: none !important;
}

.newsletter-box .progress {
    background-color: #797c87 !important;
    background-image: none !important;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1);
    height: 10px;
}

.newsletter-box h3 {
    color: #ffae00;
    font-size: 48px;
    font-weight: 700;
    line-height: 20px;
}

.newsletter-box h3 span {
    color: #000000;
    font-size: 12px;
    font-weight: 400;
}

.newsletter-box .border-right {
    border-right: 1px solid #dae1e8;
}

.newsletter-box .newsletter-error {
    font-size: 11px;
    color: #828590;
    margin-top: 20px;
}


.newsletter-page label {
    font-size: 12px;
    color: #797c87;
    font-weight: 700;
}

.newsletter-box label {
    font-size: 12px;
    color: #2c2e34;
    font-weight: 400;
}

.newsletter-box input {
    border: 2px solid #ffae00;
    padding: 15px;
    margin-left: 10px;
    width: 150px;
    border-radius: 0px; 
}

.newsletter-box input ::-webkit-input-placeholder { /* Chrome */
    color: #828590;
    font-size: 10px;
}
.newsletter-box input :-ms-input-placeholder { /* IE 10+ */
    color: #828590;
    font-size: 10px;
}
.newsletter-box input ::-moz-placeholder { /* Firefox 19+ */
    color: #828590;
    font-size: 10px;
}
.newsletter-box input :-moz-placeholder { /* Firefox 4 - 18 */
    color: #828590;
    font-size: 10px;
}

.option-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.7;
}

button.yellow-btn {
    height: 36px;
    width: auto;
    min-width: 120px;
    text-align: center;
    float: right;
    background: #ffae00;
    border: none;
    border-radius: 5px;
    border-bottom: 4px solid #ffc600;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-left: 10px;
}

button.orange-btn {
    height: 36px;
    width: auto;
    min-width: 120px;
    text-align: center;
    float: right;
    background: #d27d04;
    border: none;
    border-radius: 5px;
    border-bottom: 4px solid #d27d04;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
    margin-left: 10px;
}


/* TINYMCE */

.mce-panel {
    border: 0 solid #ffffff !important;
    border: 0 solid rgba(0,0,0,0.2);
    background-color: #ffffff !important;
}

#tinymce-preview {
    padding: 20px;
}


/* POPUP */
.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.4);
    z-index: 99999;
}

.popup-box {
    width: 600px;
    height: auto;
    position: fixed;
    top: 0px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%);
    z-index: 999999;
    overflow: hidden;
}

.popup-box section.panel {
    overflow: hidden;
}

.popup-box section.panel .row {
    padding: 20px 10px;
}

.popup-box section.panel .row .yellow-select {
    padding-left: 18px;
    text-align: left;
}

.popup-box .clear-btn {
    float: left;
}