.newsletter-page .upload-manager {
    float: right;
    margin-top: -10px;
    margin-right: 15px;
}

.newsletter-page .upload-manager span {
    font-size: 11px;
    font-weight: 400;
}

.newsletter-page .upload-manager .add-files label {
    height: 36px;
    width: auto;
    min-width: 120px;
    text-align: center;
    background: #ffae00;
    border: none;
    border-radius: 5px;
    border-bottom: 4px solid #ffc600;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}